<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Socios Administrador</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>


<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Collapsible Card Example</h3>
        <div class="card-tools">
          <!-- Collapse Button -->
          <button type="button" class="btn btn-tool" data-toggle="collapse" data-target="#test1" aria-expanded="false"
            aria-controls="test1">
            <i class="fas fa-minus"></i></button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body collapse" id="test1">

        <form [formGroup]="socioForm">
          <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-4">
              <div>
                <select formControlName="company" class="form-control select2" style="width: 100%;" required
                  [class.is-invalid]="socioForm.get('company').invalid && socioForm.get('company').touched"
                  (change)="changeSuit($event)">
                  <option value="" disabled selected>Seleccione...</option>
                  <option *ngFor="let socio of socios" value="{{socio.idsocio}}">
                    {{socio.nombregeneral}}
                  </option>
                </select>
                <p><span>You selected: </span><b>{{selected}}</b></p>

                <div
                  *ngIf="socioForm.get('company').invalid && (socioForm.get('company').touched || socioForm.get('company').dirty)">
                  <small class="text-danger">Compañia es requerido</small>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <button id="buscar" type="submit" class="btn btn-success">Buscar</button>
            </div>

            <div class="col-md-3"></div>

          </div>
        </form>

      </div>
      <!-- /.card-body -->
    </div>
  </div>
</section>
<!-- /.card -->


<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Title</h3>
      </div>
      <div class="card-body">
        Start creating your amazing application!
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        Footer
      </div>
      <!-- /.card-footer-->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
