<br />

<section class="content-fluid">
  <!-- Default box -->
  <div class="container-fluid">
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">Socios</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">

      <form [formGroup]="socioForm">

        <div class="row">
          <div class="col-md-3">
            <div >
              <label for="nombre">Nombre:</label>
              <input formControlName="nombregeneral" type="text" class=" input-sm" placeholder="nombre" pattern="^[a-zA-Z]*$"
                [class.is-invalid]="socioForm.get('nombregeneral').invalid && socioForm.get('nombregeneral').touched">
            </div>

            <div
              *ngIf="socioForm.get('nombregeneral').invalid && (socioForm.get('nombregeneral').touched || socioForm.get('nombregeneral').dirty) ">
              <small *ngIf="socioForm.get('nombregeneral').hasError('required')" class="text-danger">nombre es
                requerido</small>
              <small *ngIf="socioForm.get('nombregeneral').hasError('minlength')" class="text-danger">minimo 2
                caracteres</small>
              <small *ngIf="socioForm.get('nombregeneral').hasError('pattern')" class="text-danger">solo texto</small>
            </div>
          </div>

          <div class="col-md-3">
            <div >
              <label for="rut">Rut:</label>
              <input formControlName="rut" type="text" class=" input-sm" placeholder="rut" required pattern="^(\b(\d{1,3}(?:(\.?)\d{3}){2}(-?)[\dkK])\b)$"
                [class.is-invalid]="socioForm.get('rut').invalid && socioForm.get('rut').touched">
            </div>

            <div
              *ngIf="socioForm.get('rut').invalid && (socioForm.get('rut').touched || socioForm.get('rut').dirty) ">
              <small *ngIf="socioForm.get('rut').hasError('required')" class="text-danger">rut es requerido</small>
                <small *ngIf="socioForm.get('rut').hasError('pattern')" class="text-danger">formato incorrecto</small>

            </div>
          </div>

          <div class="col-md-4">
            <div >
              <label for="descripcion">Descripcion:</label>
              <input type="text" class=" input-sm" formControlName="descripcion" placeholder="descripcion"
                [class.is-invalid]="socioForm.get('descripcion').invalid && socioForm.get('descripcion').touched">
            </div>

            <div
              *ngIf="socioForm.get('descripcion').invalid && (socioForm.get('descripcion').touched || socioForm.get('descripcion').dirty) ">
              <small *ngIf="socioForm.get('descripcion').hasError('required')" class="text-danger">descripcion es
                requerido</small>
              <small *ngIf="socioForm.get('descripcion').hasError('minlength')" class="text-danger">minimo 2
                caracteres</small>
            </div>
          </div>

          <div class="col-md-2">
            <button id="agregar" type="submit" class="btn btn-success" (click)="addSocio()"
              *ngIf="!socio.idsocio">Agregar</button>
            <input *ngIf="socio.idsocio" type="button" class="btn btn-outline-primary" value="Actualizar"
              (click)="update()">
          </div>


        </div>

      </form>

    </div>
    <!-- /.card-body -->
  </div>
</div>


  <!--  tabla -->
  <div class="card">
    <div class="card-body text-xs">
      <table id="example" class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let socio of socios">
            <td>{{socio.idsocio}}</td>
            <td>{{socio.rut}}</td>
            <td>{{socio.nombregeneral}}</td>
            <td>{{socio.descripcion}}</td>
            <td>

              <button class="btn btn-primary  btn-sm" type="button" data-toggle="collapse" data-target="#collapseForm"
                aria-expanded="false" aria-controls="collapseForm" (click)="editar(socio)">
                <i class="fas fa-pencil-alt"></i>
              </button>

              <button type="button" class="btn btn-danger  btn-sm" style="margin-left: 10px;" title="eliminar"
                (click)="deleteSocio(socio)">
                <i class="far fa-trash-alt"></i>
              </button>

              <button type="button" class="btn btn-warning  btn-sm" style="margin-left: 10px;" title="detalles"
                (click)="entidadBySocio(socio)" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fas fa-search"></i>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</section>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{ detalle }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-xs">

        <table class="table table-striped table-bordered table-sm">
          <thead >
            <tr >
              <th scope="col">#</th>
              <th scope="col">Razon Social</th>
              <th scope="col">Rut</th>
              <th scope="col">Cuenta Contable</th>
              <th scope="col">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entidad of entidades">
              <td>{{entidad.identidad}}</td>
              <td>{{entidad.razonsocial}}</td>
              <td>{{entidad.rut}}</td>
              <td>{{entidad.cuentacontable}}</td>
              <td>{{entidad.descripcion}}</td>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>