<!-- Main content -->

<!-- filtros diseño de john -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body estilo">

        <form [formGroup]="filtroForm">

          <!-- <div class="form-inline justify-content-center box-footer clearfix" > -->
         <div class="padre justify-content-center">
          <div class="campos">
  
              <div class="form-group" *ngIf="compania">
                <select class="input-xs mr-2" placeholder="Compañía" formControlName="compania">
                  <option value="" selected>Compañia</option>
                  <option *ngFor="let compania of companias;" value={{compania.value}}>
                    {{compania.name}}
                  </option>
                </select>
              </div>
              <div
                *ngIf="filtroForm.get('compania').invalid && (filtroForm.get('compania').touched || filtroForm.get('compania').dirty)">
                <small class="text-danger">Compañia es requerido</small>
              </div>
     

              <div class="form-group" *ngIf="socio">
                <select class="input-xs mr-2" placeholder="Socio" formControlName="socio">
                  <option value="">Socio</option>
                  <option *ngFor="let socio of socios;" value={{socio.value}}>
                    {{socio.name}}
                  </option>
                </select>
              </div>
              <div
                *ngIf="filtroForm.get('socio').invalid && (filtroForm.get('socio').touched || filtroForm.get('socio').dirty)">
                <small class="text-danger">Socio es requerido</small>
              </div>
     

              <div class="form-group" *ngIf="cobertura">
                <select class="input-xs mr-2" placeholder="Mes Cobertura" formControlName="mesCobertura">
                  <option value="">Mes Cobertura</option>
                  <option *ngFor="let mesCobertura of mesesCobertura;" value={{mesCobertura.value}}>
                    {{mesCobertura.name}}
                  </option>
                </select>
              </div>

              <div class="form-group" *ngIf="poliza">
                  <input type="text" class="input-xs mr-2" formControlName="poliza" placeholder="Poliza" >
              </div>
 
              
              <div class="form-group" *ngIf="estado">
                <select class="input-xs mr-2" placeholder="Estado" formControlName="estado">
                  <option value="">Estado</option>
                  <option *ngFor="let estado of estados;" value={{estado.value}}>
                    {{estado.name}}
                  </option>
                </select>
              </div>

              <div class="form-group" *ngIf="estadoAgrupacion">
                <select class="input-xs mr-2" placeholder="Estado Agrupacion" formControlName="estadoAgrupacion">
                  <option value="">Estado Agrupación</option>
                  <option *ngFor="let estado of estadosAgrupacion;" value={{estado.value}}>
                    {{estado.name}}
                  </option>
                </select>
              </div>


              <div class="form-group" *ngIf="periodo">
                <select class="input-xs mr-2" placeholder="Periodo Contable" formControlName="periodoContable">
                  <option value="">Periodo Contable</option>
                  <option *ngFor="let periodoContable of periodosContable;" value={{periodoContable.value}}>
                    {{periodoContable.name}}
                  </option>
                </select>
            </div>


              <div class="form-group" *ngIf="concepto">
                <select class="input-xs mr-2" placeholder="Concepto" formControlName="concepto">
                  <option value="">Concepto</option>
                  <option *ngFor="let concepto of conceptos;" value={{concepto.value}}>
                    {{concepto.name}}
                  </option>
                </select>
              </div>

              <div class="form-group" *ngIf="subconcepto">
                <select class="input-xs mr-2" placeholder="SubConcepto" formControlName="subConcepto">
                  <option value="">SubConcepto</option>
                  <option *ngFor="let subconcepto of subConceptos;" value={{subconcepto.value}}>
                    {{subconcepto.name}}
                  </option>
                </select>
              </div>

              <div class="form-group" *ngIf="anoContable">
                <select class="input-xs mr-2" placeholder="anoContable" formControlName="anoContable">
                  <option value="">Año Contable</option>
                  <option >2019 </option>
                  <option >2020 </option>
                </select>
              </div>

              <div class="form-group" *ngIf="aprobacion">
                <select class="input-xs mr-2" placeholder="aprobacion" formControlName="aprobacion">
                  <option value="">Aprobacion</option>
                  <option >Aprobado </option>
                  <option >Rechazado </option>
                </select>
              </div> 
            
            </div>


              <!-- BOTONES -->
              
              <div>
                <button type="submit" class="btn btn-success btn-sm" (click)="listarAgrupacion()" *ngIf="callAgrupacion">
                <i class="fas fa-search"></i>
              </button>
              <button type="submit" class="btn btn-success btn-sm" (click)="listarFacturacion()" *ngIf="callFiles">
                <i class="fas fa-search"></i>
              </button>
              <button type="submit" class="btn btn-success btn-sm" (click)="listarConciliacion()" *ngIf="callConciliacion">
                <i class="fas fa-search"></i>
              </button> 
              <!-- <button type="submit" class="btn btn-success btn-sm" (click)="listarFacturacion()" >
                <i class="fas fa-search"></i>test
              </button>  -->
            </div>
             <!-- FIN BOTONES -->

          </div>
        </form>

      </div>
    </div>
  </div>
</section> 


<!-- paulina content -->
<!-- <section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body card1">
        <form [formGroup]="filtroForm">
          <div class="form-inline row h-100 justify-content-center align-items-center">
            <div class="col-2">
              <div class="form-group" *ngIf="compania">
                <select class="form-control" placeholder="Compañía" formControlName="compania">
                  <option value="" selected>Compañía...</option>
                  <option *ngFor="let compania of companias" value="{{ compania.value }}">
                    {{ compania.name }}
                  </option>
                </select>
              </div>

              <div
                *ngIf="filtroForm.get('compania').invalid && (filtroForm.get('compania').touched || filtroForm.get('compania').dirty)">
                <small class="text-danger">Compañia es requerido</small>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group" *ngIf="socio">
                <select class="form-control" placeholder="Socio..." formControlName="socio">
                  <option value="" selected="selected" >Socio...</option>
                  <option *ngFor="let socio of socios" value="{{ socio.value }}">
                    {{ socio.name }}
                  </option>
                </select>
              </div>

              <div
                *ngIf="filtroForm.get('socio').invalid && (filtroForm.get('socio').touched || filtroForm.get('socio').dirty)">
                <small class="text-danger">Socio es requerido</small>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group" *ngIf="cobertura">
                <select class="form-control" placeholder="Mes Cobertura" formControlName="mesCobertura">
                  <option value="" selected>Mes Cobertura</option>
                  <option *ngFor="let mesCobertura of mesesCobertura" value="{{ mesCobertura.value }}">
                    {{ mesCobertura.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group" *ngIf="poliza">
                <input type="text" class="form-control" formControlName="poliza" placeholder="Poliza" />
              </div>
            </div>
          </div>

          <div class="form-inline row h-100 justify-content-center align-items-center">
            <div class="col-md-2">
              <div class="form-group" *ngIf="estado">
                <select class="form-control" placeholder="Estado" formControlName="estado">
                  <option value="">Estado</option>
                  <option *ngFor="let estado of estados" value="{{ estado.value }}">
                    {{ estado.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group" *ngIf="periodo">
                <select class="form-control" placeholder="Periodo Contable" formControlName="periodoContable">
                  <option value="">Periodo Contable</option>
                  <option *ngFor="let periodoContable of periodosContable" value="{{ periodoContable.value }}">
                    {{ periodoContable.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group" *ngIf="concepto">
                <select class="form-control" placeholder="Periodo Contable" formControlName="concepto">
                  <option value="">Concepto</option>
                  <option *ngFor="let concepto of conceptos" value="{{ concepto.value }}">
                    {{ concepto.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-2">
              <button type="submit"  class="btn btn-success" id="searchbutton" (click)="listarAgrupacion()" *ngIf="callAgrupacion">
                Buscar
              </button>
              <button type="submit" class="btn btn-success" id="searchbutton" (click)="getFiles()" *ngIf="callFiles">
                Buscar
              </button>
              <button type="submit" class="btn btn-success" id="searchbutton" (click)="listarConciliacion()" *ngIf="callConciliacion">
                Buscar
              </button>

            </div>
          </div>
        </form>

        <br />
      </div>
    </div>
  </div>
</section> -->