<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="titulo">Contabilización Manual de Recaudación</h1>
        </div>
      </div>
    </div>
  </section>

  <!--  *********  FILTROS *************************************** -->
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">Filtros</h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
  
    <div class="card-body">
      <app-filtros (listarConciliaciones)='listarContaPago($event)' [callConciliacion]="true" 
      [cobertura]="false" [concepto]="false" [subconcepto]="false" [aprobacion]="false" [estado]="false">
      </app-filtros>
    </div>
  </div>
  <!--  ********  FIN FILTROS **************************************** -->
  
  
  
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card text-xs" #concitable>
  
        <form [formGroup]="busquedaForm">
          <!---->
          <div class="box-footer clearfix">
            <div class="pull-left">
              <label>Mostrar</label>
              <select (change)="selectChangeHandler($event)" class=" input-xs" style="width: 65px;">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="{{total}}">Todas</option>
              </select>
              <label>elementos</label>
            </div>
  
            <div class="pull-right">
              <!-- <input type="text" name="searchCompany" placeholder="Compañia..." formControlName="searchCompany"
                [(ngModel)]="searchCompany" class="mr-2" />
  
              <input type="text" name="searchSocio" placeholder="Socio..." formControlName="searchSocio"
                [(ngModel)]="searchSocio" class="mr-2" /> -->
  
              <button (click)="exportToExcel()" class="btn btn-success btn-sm "><i class="far fa-file-excel">
                  Excel</i></button>
            </div>
  
          </div>
          <!---->
        </form>
  
        <table id="example" class="table table-striped table-bordered table-sm" style="width:100%">
  
          <thead>
            <tr>
              <!-- <th> Estado </th> -->
              <th> Id Conciliación </th>
              <!-- <th> Policy </th> -->
              <!-- <th> Nº Egreso </th> -->
              <th> Estado </th>
              <th> Medio Pago </th>
              <th> Año Contable </th>
              <th> Mes Contable </th>
              <th> Fecha Proceso </th>
              <th> Usuario </th>
              <!-- <th> Concepto </th> -->
              <!-- <th> Id Producto </th> -->
              <th> Compañia </th>
              <th> Socio </th>
              <th> Mes Cobertura </th>
              <!-- <th> Prima Asociada </th>
              <th> Monto Final </th>
              <th> Porcentaje </th>
              <th> Monto Final UF </th> -->
              <th></th>
              <th></th>
            </tr>
          </thead>
  
          <tbody>
            <!-- filter : 'compania' : searchCompany | filter : 'socio' : searchSocio | filter : 'concepto' : searchConcepto | -->
            <tr
              *ngFor="let conciliacion of conciliaciones | paginate: { itemsPerPage: filas, currentPage: p }">
              <!-- <td> {{ conciliacion.estado        }} </td> -->
              <td> {{ conciliacion.idConciliacion}} </td>
              <!-- <td> {{ conciliacion.policy        }} </td> -->
              <!-- <td> {{ conciliacion.nEgreso       }} </td> -->
              <td> {{ conciliacion.nombreEstado        }} </td>
              <td> {{ conciliacion.medioPago     }} </td>
              <td> {{ conciliacion.anoContable   }} </td>
              <td> {{ conciliacion.mesContable   }} </td>
              <td> {{ conciliacion.fechaProceso  }} </td>
              <td> {{ conciliacion.codUsuario    }} </td>
             <!--  <td> {{ conciliacion.concepto      }} </td> -->
              <!-- <td> {{ conciliacion.idProducto    }} </td> -->
              <td> {{ conciliacion.compania      }} </td>
              <td> {{ conciliacion.socio         }} </td>
              <td> {{ conciliacion.mesCobertura  }} </td>
              <!-- <td> {{ conciliacion.primaAsociada }} </td>
              <td> {{ conciliacion.montoFinal    }} </td>
              <td> {{ conciliacion.porcentaje    }} </td>
              <td> {{ conciliacion.montoFinalUF  }} </td> -->
              <td>
                <button type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;" title="detalles"
                  (click)="detalleConciliacion(conciliacion.idConciliacion)" data-toggle="modal"
                  data-target="#ModalDetalle">
                  <i class="fas fa-search"></i>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;" title="vouchers"
                  (click)="detalleVouchers(conciliacion.voucher)" data-toggle="modal"
                  data-target="#ModalVoucher">
                  <i class="fas fa-tasks"></i>
                </button>
              </td>
            </tr>
          </tbody>
  
          <tfoot>
          </tfoot>
  
        </table>
  
        <div class="row justify-content-md-center">
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
          </pagination-controls>
        </div>
  
      </div>
    </div>
  </section>
  
  <!--
    ******************  MODAL PARA APROBACION Y REVERSA **********************
  -->
  
  <div class="modal fade" id="ModalVoucher" tabindex="-1" role="dialog" aria-labelledby="ModalVoucher"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalVoucher">Detalle de Voucher</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
            <app-vouchersmodal
            [voucherConciliacion]="voucherConciliacion">
            </app-vouchersmodal>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ModalDetalle" tabindex="-1" role="dialog" aria-labelledby="ModalDetalle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalDetalle">Detalle de Conciliación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <app-conciliacionmodal 
            [detallesConciliacion]="conciliacionDetalle" 
            [Primaconciliacion]="conciliacionPrima"
            [Comisionconciliacion]="conciliacionComision"
            [Devolucionconciliacion]="conciliacionDevolucion"
            [Recuperoconciliacion]="conciliacionRecupero"
            [Gastosconciliacion]="conciliacionGastos"
            [Sunsystemconciliacion]="conciliacionSunsystem"
            [Netsuiteconciliacion]="conciliacionNetsuite"
            [Validacionesconciliacion]="conciliacionValidaciones"
            [muestraBotonera]="false"
          >
          </app-conciliacionmodal>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>