<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Blank Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Blank Page</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Title</h3>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        Start creating your amazing application!

        <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
          Do it!
        </button>
        <!-- <ngx-spinner [visible]="spinner" [config]="spinnerConfig"><p style="color: white" > Loading... </p></ngx-spinner> -->
        <ngx-spinner [visible]="spinner" [config]="spinnerConfig"></ngx-spinner>
        <button (click)="showSpinner()">Show Spinner</button>
        <button (click)="hideSpinner()">Hide Spinner</button>
      </div>
      <!-- /.card-body -->

    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->

<br/>

<section>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
</section>

<br />
<div class="col-md-12 table-responsive" #epltable>

  <div style="padding-bottom: 10px;padding-top: 10px;">
    <div class="row">
      <div class="col-sm-12">
        <button (click)="exportToExcel()" class="btn btn-success">
          Export To Excel
        </button>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Position</th>
        <th>Club</th>
        <th>Played</th>
        <th>Won</th>
        <th>Drawn</th>
        <th>Lost</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let club of clubs">
        <td>{{ club.position }}</td>
        <td>{{ club.name }}</td>
        <td>{{ club.played }}</td>
        <td>{{ club.won }}</td>
        <td>{{ club.drawn }}</td>
        <td>{{ club.lost }}</td>
        <td>{{ club.points }}</td>
      </tr>
    </tbody>
  </table>
</div>

  <br />
  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid" #epltable2>
      <div style="padding-bottom: 10px;padding-top: 10px;">
        <div class="row">
          <div class="col-sm-12">
            <button (click)="exportToExcel2()" class="btn btn-success">
              Export To Excel
            </button>
          </div>
        </div>
      </div>

      <table  class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Position</th>
            <th>Club</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>Points</th>
            <th>Position</th>
            <th>Club</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let club of clubs">
            <td>{{ club.position }}</td>
            <td>{{ club.name }}</td>
            <td>{{ club.played }}</td>
            <td>{{ club.won }}</td>
            <td>{{ club.drawn }}</td>
            <td>{{ club.lost }}</td>
            <td>{{ club.points }}</td>
            <td>{{ club.position }}</td>
            <td>{{ club.name }}</td>
            <td>{{ club.played }}</td>
            <td>{{ club.won }}</td>
            <td>{{ club.drawn }}</td>
            <td>{{ club.lost }}</td>
            <td>{{ club.points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>


<br>

<div class="container">
  <div class="text-center mt-5">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()"/> <strong>Select/ Unselect All</strong>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of checklist">
                  <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}" (change)="isAllSelected()"/>
                  {{item.value}}
                </li>
              </ul>
        </div>
        <div class="col-md-6">
            <code>{{checkedList}}</code>
        </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <ng-select [items]="cheeseTypes"
  bindLabel="text"
  bindValue="id"
  multiple="true"
  (change)="getValues()"
  [(ngModel)]="selectedCheese">
</ng-select>
</div>
