<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="titulo">Reporte de Extracción</h1>
        </div>
        <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div> -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  
  <!--  *********  FILTROS *************************************** -->
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">Filtros</h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <!-- filtro component -->
      <app-fechas (listarLotes)='listarLote($event)' [flujo]="false" [subconcepto]="false" [estado]="false" [callExtraccion]="true" [listaEstado]="listarEstados">
      </app-fechas>
    </div>
  </div>
  <!--  ********  FIN FILTROS **************************************** -->
  
  <section>
    <div class="container-fluid">
  
      <div class="card text-xs">
        <form [formGroup]="busquedaForm">
          <!---->
          <div class="box-footer clearfix">
            <div class="pull-left">
              <label>Mostrar</label>
              <select (change)="selectChangeHandler($event)" class="input-xs" style="width: 65px;">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="{{ total }}">Todas</option>
              </select>
              <label>elementos</label>
            </div>
  
            <div class="pull-right">
              <input type="text" name="estatus" placeholder="estatus..." formControlName="estatus"
              [(ngModel)]="estatus" class="mr-2" />
  
  <!--             <input type="text" name="searchFechaIni" placeholder="searchFechaIni..." formControlName="searchFechaIni"
                [(ngModel)]="searchFechaIni" class="mr-2" />
  
              <input type="text" name="searchFechaFin" placeholder="searchFechaFin..." formControlName="searchFechaFin"
                [(ngModel)]="searchFechaFin" class="mr-2" /> -->
  
              <button (click)="exportToExcel()" class="btn btn-success btn-sm">
                <i class="far fa-file-excel"> Excel</i>
              </button>
            </div>
          </div>
          <!---->
        </form>
      </div>
  
      <div class="card table-responsive text-xs" #lotetable>
          <table class="table table-striped table-bordered table-sm" style="width:100%">
          <thead>
            <tr>
                <th> ID Lote      </th>
                <th> Fecha Inicio    </th>
                <th> Fecha Fin    </th>
                <th> Cantidad Registros </th>
                <th> Estatus </th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let lote of lotes | filter: 'cloEstatuslote' : estatus | filter : 'audFechaIni' : searchFechaIni | filter : 'audFechaFin' : searchFechaFin | paginate: { itemsPerPage: filas, currentPage: p }">
  
              <td>{{lote.cloIdlote}}</td>
              <!-- <td>{{lote.cloFechaini | date:'yyyy-MM-dd hh:mm:ss'}}</td>
              <td>{{lote.cloFechafin | date:'yyyy-MM-dd hh:mm:ss'}}</td> -->
              <td>{{lote.cloFechaini}}</td>
              <td>{{lote.cloFechafin}}</td>              
              <td>{{lote.cloCantidadreg}}</td>
              <td>{{lote.cloEstatuslote}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;" title="detalles"
                  (click)="loteDetalle(lote.cloIdlote)" data-toggle="modal"
                  data-target="#exampleModalCenter">
                  <i class="fas fa-search"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
  
          </tfoot>
        </table>
  
        <div class="row justify-content-md-center">
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
          </pagination-controls>
        </div>
  
      </div>
    </div>
  </section>


  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">Detalles</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-xs">

      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th  scope="col"> ID Lote            </th>
            <th  scope="col"> ID Extracción      </th>
            <th  scope="col"> Cantidad Registros </th>
            <th  scope="col"> Estatus             </th>
            <th  scope="col"> Fuente de Datos     </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of loteDetalles">
            <td>{{detalle.cloIdlote            }}</td>
            <td>{{detalle.cldIdextraccion      }}</td>
            <td>{{detalle.cldCantidadreg       }}</td>
            <td>{{detalle.cldEstatusextraccion }}</td>
            <td>{{detalle.cldFuentedatos       }}</td>
          </tr>

        </tbody>
      </table>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
  </div>
</div>
</div>