<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Cierre y Apertura de Periodo Contable</h1>
      </div>
    </div>
  </div>
</section>


<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
      <div class="card margen">
          <div class="card-body card1">
              <div class="form-inline justify-content-center box-footer clearfix">


      <table id="example" class="table table-striped table-bordered table-sm text-xs text-center margen" style="width:50%">
      <thead>
        <tr class="bg-success">
          <th>Periodo</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let periodo of periodosCierre
          ">
          <td>{{ periodo.name }}</td>
          <td *ngIf="periodo.status == 'V'">Vigente</td>
          <td *ngIf="periodo.status == 'A'">Anterior</td>
          <td *ngIf="periodo.status == 'C'">Cerrado</td>
          <td>
            <button 
              *ngIf="(periodo.value == periodoVigente - 1) && periodo.status == 'A'" 
              class="btn btn-success btn-sm" type="submit"
              (click)="cerrarPeriodo(periodo.value, periodo.name);">
              Cerrar 
            </button>
            <button 
              *ngIf="(periodo.value == periodoVigente - 1) && periodo.status == 'C'" 
              class="btn btn-success btn-sm" type="submit"
              (click)="abrirPeriodo(periodo.value, periodo.name);">
              Abrir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
 

  </div>
</div>
            </div>
</div>
</section>
<ngx-spinner [visible]="spinner" [config]="spinnerConfig"></ngx-spinner>