.card {
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


  div.card-body.card1 {
    // background-color: #00965e;
    border-radius: 3px;
    border-style: solid;
    border-color: #00965e;
}

.margen{
  margin-top: 1em;
}