<section>
  <form>
    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
    <button (click)="fileReset()" class="btn-success">
      Reset
    </button>
  </form>

  <!-- <div class="custom-file mb-3">
    <input type="file" #csvReader class="custom-file-input" id="customFile" name="filename" (change)="uploadListener($event)" />
    <label class="custom-file-label" for="customFile">Seleccione archivo de Gastos...</label>
  </div> -->

  <!--  ********************************** -->
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card text-xs">
  
  
        <div class="container">
  
          <form [formGroup]="busquedaForm" class="form-inline">
  
            <div class="form-group mr-2">
              <label>Mostrar</label>
              <select (change)="selectChangeHandler($event)" class="form-control input-xs" style="width: 60px;">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="{{total}}">Todas</option>
              </select>
              <label>elementos</label>
            </div>

            <input type="text" name="search" placeholder="search..." formControlName="term"
            [(ngModel)]="term" class="mr-2" />

            <input type="text" name="search" placeholder="concepto..." formControlName="search"
            [(ngModel)]="search" class="mr-2" />
          </form>

        </div>
  
      </div>
    </div>
  </section>

  <!-- <table class="minimalistBlack" *ngIf="gastos.length > 0"> -->
  <table class="table table-striped table-bordered table-sm" *ngIf="records.length > 0">
    <thead class="thead-dark">
      <!-- <tr *ngFor="let title of headersRow;let j = index1;">     -->
      <tr>
        <th> subConcepto</th>
        <th> operatoria</th>
        <th> compañia</th>
        <th> socio</th>
        <th> policy</th>
        <th> concepto</th>
        <th> idPrdt</th>
        <th> mesCobertura</th>
        <th> primaAsociada</th>
        <th> montoFinal</th>
        <th> porcentaje</th>
        <th> usuario             </th>
        <th> fechaCarga          </th>
        <th> cantidadRegistros   </th>
        <th> nombreArchivo       </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gasto of records | filter : 'concepto' : search | paginate: { itemsPerPage: filas, currentPage: p } ">
        <td> <span> {{ gasto.subConcepto   }}</span> </td>
        <td> <span> {{ gasto.operatoria    }}</span> </td>
        <td> <span> {{ gasto.compania      }}</span> </td>
        <td> <span> {{ gasto.socio         }}</span> </td>
        <td> <span> {{ gasto.policy        }}</span> </td>
        <td> <span> {{ gasto.concepto      }}</span> </td>
        <td> <span> {{ gasto.idPrdt        }}</span> </td>
        <td> <span> {{ gasto.mesCobertura  }}</span> </td>
        <td> <span> {{ gasto.primaAsociada }}</span> </td>
        <td> <span> {{ gasto.montoFinal    }}</span> </td>
        <td> <span> {{ gasto.porcentaje    }}</span> </td>
        <td> <span> {{ gasto.usuario            }}</span> </td>
        <td> <span> {{ gasto.fechaCarga         }}</span> </td>
        <td> <span> {{ gasto.cantidadRegistros  }}</span> </td>
        <td> <span> {{ gasto.nombreArchivo      }}</span> </td>
      </tr>
    </tbody>
  </table>

  <div class="row justify-content-md-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
    </pagination-controls>
  </div>

</section>

<br>
<p>DateTime as Milliseconds : {{todayNumber}} 
  datepipe:{{todayNumber | date}}</p>
  <p>DateTime as object : {{todayDate}} 
  datepipe:{{todayDate | date}}</p>
  <p>DateTime as string : {{todayString}} 
  datepipe:{{todayString | date}}</p>
  <p>DateTime as iso string : {{todayISOString}} 
  datepipe:{{todayISOString | date}}</p>
  <p>{{todayDate | date:'yyyy-MM-dd'}}</p>
  <p>{{todayISOString}}</p>

  <p>{{usuario}}</p>
  <p>{{nombreArchivo}}</p>
  <p>{{cantidadRegistros}}</p>
  <p>{{fechaCarga}}</p>