<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Contabilización Manual Devengo</h1>
      </div>
      <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<ngx-spinner [visible]="spinner" [config]="spinnerConfig"></ngx-spinner>
<!-- Main content -->
<!-- paulina content -->
<!-- <section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body card1">
        <form [formGroup]="filtroForm">
          <div class="form-inline row h-100 justify-content-center align-items-center">
            <div class="col-2">
              <div class="form-group">
                <select class="form-control" placeholder="Compañía" formControlName="compania">
                  <option value="" selected>Compañía...</option>
                  <option *ngFor="let compania of companias" value="{{ compania.value }}">
                    {{ compania.name }}
                  </option>
                </select>
              </div>

              <div *ngIf="
                  (filtroForm.get('compania').invalid &&
                    (filtroForm.get('compania').touched ||
                      filtroForm.get('compania').dirty)) ||
                  !esValidoCompania
                ">
                <small class="text-danger">Compañia es requerido</small>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" placeholder="Socio" formControlName="socio">
                  <option value="" selected>Socio...</option>
                  <option *ngFor="let socio of socios" value="{{ socio.value }}">
                    {{ socio.name }}
                  </option>
                </select>
              </div>

              <div *ngIf="
                  (filtroForm.get('socio').invalid &&
                    (filtroForm.get('socio').touched ||
                      filtroForm.get('socio').dirty)) ||
                  !esValidoSocio
                ">
                <small class="text-danger">Socio es requerido</small>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" placeholder="Mes Cobertura" formControlName="mesCobertura">
                  <option value="">Mes Cobertura</option>
                  <option *ngFor="let mesCobertura of mesesCobertura" value="{{ mesCobertura.value }}">
                    {{ mesCobertura.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="poliza" placeholder="Poliza" />
              </div>
            </div>
          </div>

          <div class="form-inline row h-100 justify-content-center align-items-center">
            <div class="col-md-2">
              <div class="form-group">
                <select class="form-control" placeholder="Estado" formControlName="estado">
                  <option value="">Estado</option>
                  <option *ngFor="let estado of estados" value="{{ estado.value }}">
                    {{ estado.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" placeholder="Periodo Contable" formControlName="periodoContable">
                  <option value="">Periodo Contable</option>
                  <option *ngFor="let periodoContable of periodosContable" value="{{ periodoContable.value }}">
                    {{ periodoContable.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" placeholder="Periodo Contable" formControlName="concepto">
                  <option value="">Concepto</option>
                  <option *ngFor="let concepto of conceptos" value="{{ concepto.value }}">
                    {{ concepto.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-2">
              <button class="btn btn-success" type="submit" id="searchbutton" (click)="listarAgrupacion()">
                Buscar
              </button>
            </div>
          </div>
        </form>

        <br />
      </div>
    </div>
  </div>
</section> -->
<!--  *********  FILTROS *************************************** -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- filtro component -->
    <app-filtros (listarAgrupaciones)='listarAgrupacion($event)' [concepto]="false"  [estado]="false" [anoContable]="false" [aprobacion]="false" [callAgrupacion]="true"></app-filtros>
  </div>
</div>
<!--  ********  FIN FILTROS **************************************** -->


<!-- john content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card text-xs">
      <form [formGroup]="busquedaForm">
        <!---->
        <div class="box-footer clearfix">
          <div class="pull-left">
            <label>Mostrar</label>
            <select (change)="selectChangeHandler($event)" (mouseout)="fireEvent($event)" class="input-xs" style="width: 65px;">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="100">100</option>
              <option value="{{ total }}">Todas</option>
            </select>
            <label>&ensp;elementos</label>
          </div>

          <div class="pull-right">
            <!-- <input type="text" name="searchConcepto" placeholder="Concepto..." formControlName="searchConcepto"
              [(ngModel)]="searchConcepto" class="mr-2" /> -->

<!--             <input type="text" name="searchSubConcepto" placeholder="SubConcepto..." formControlName="searchSubConcepto"
              [(ngModel)]="searchSubConcepto" class="mr-2" />
              
            <input type="text" name="searchPoliza" placeholder="Poliza..." formControlName="searchPoliza"
            [(ngModel)]="searchPoliza" class="mr-2" /> -->

            <button (click)="exportToExcel()" class="btn btn-success btn-sm">
              <i class="far fa-file-excel"> Excel</i>
            </button>
          </div>
        </div>
        <!---->
      </form>
    </div>
  </div>
</section>



<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card scroll text-xs" #agruptable>
      <!-- <form [formGroup]="busquedaForm">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </div>
          <input type="text" class="form-control" name="searchCompany" placeholder="Compañia..."
          formControlName="searchCompany" [(ngModel)]="searchCompany" />
        </div>
      </div>
  
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </div>
          <input type="text" class="form-control" name="searchSocio" placeholder="Socio..."
          formControlName="searchSocio" [(ngModel)]="searchSocio" />
        </div>
      </div>
  
    </form> -->

      <!-- <table id="contaManual" class="table table-striped table-bordered table-sm row-border display nowrap" style="width: 100%;"> -->
        <table id="example" class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
          <tr>
            <th>Id Agrupación</th>
            <th>Compañía</th>
            <th>Mes Cobertura</th>
            <th>Socio</th>
            <th>Poliza</th>
            <th>Periodo Contable</th>
            <th>Estado</th>
            <th>Concepto</th>
            <th>Sub-Concepto</th>
            <th>Bruto Pesos</th>
            <th>Neto Pesos</th>
            <th>Exento Pesos</th>
            <th>Afecto Pesos</th>
            <th>IVA Pesos</th>
            <th>Bruto UF</th>
            <th>Neto UF</th>
            <th>Exento UF</th>
            <th>Afecto UF</th>
            <th>IVA UF</th>
            <th></th>
            <th></th>
            <!-- <th></th> -->
          </tr>
        </thead>

        <tbody>
          <!-- <tr *ngFor="let agrupacion of agrupaciones | filter : 'companiaPims' : searchCompany | filter : 'socioPims' : searchSocio; let i = index"> -->
          <tr *ngFor="
              let agrupacion of agrupaciones
                | filter: 'subconceptoPims':searchSubConcepto
                | filter: 'polizaPims':searchPoliza
                | paginate: { itemsPerPage: filas, currentPage: p }
            ">
            <td>{{ agrupacion.idAgrupacion }}</td>
            <td>{{ agrupacion.companiaPims }}</td>
            <td>{{ agrupacion.mesCoberturaPims }}</td>
            <td>{{ agrupacion.socioPims }}</td>
            <td>{{ agrupacion.polizaPims }}</td>
            <td>{{ agrupacion.idPeriodoConcar }}</td>
            <td>{{ agrupacion.estado }}</td>
            <td>{{ agrupacion.conceptoPims }}</td>
            <td>{{ agrupacion.subconceptoPims }}</td>
            <td>{{ agrupacion.brutoPesosPims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.netoPesosPims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.excetoPesosPims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.afectoPesosPims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.ivaPesosPims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.brutoUFPims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.netoUFPims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.exentoUFOims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.afectoUFPims | number:'1.1':'es' }}</td>
            <td>{{ agrupacion.ivaUFPims | number:'1.1':'es' }}</td>

            <td>
              <button class="btn btn-success btn-sm" type="submit" (click)="contabilizar(agrupacion.idAgrupacion)">
                Contabilizar
              </button>
            </td>
            
            <td>
              <button class="btn btn-success btn-sm" type="submit" data-toggle="modal" data-target="#exampleModal1"
                (click)="agregarIdVoucher(agrupacion.idAgrupacion)">
                IdVoucher
              </button>
            </td>
            <!-- <td *ngIf="agrupacion.idEstadiAgrup == 100">
          <button class="btn btn-success" type="submit" (click)="reversar(agrupacion.idAgrupacion)">
            Reversar
          </button>
        </td> -->
          </tr>
        </tbody>
      </table>

      <div class="row justify-content-md-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
        </pagination-controls>
      </div>

    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        Ingrese Número de Voucher
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--inicio contenido dentro del modal PRIMA-->
      <!-- Main content -->
      <section class="content">
        <!-- Default box -->
        <div class="container-fluid">
          <div class="card">
            <div class="card-body estilo">
              <form [formGroup]="formIdVoucher" class="form-inline row h-100 justify-content-center align-items-center">
                
                  <div class=" col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control mr-2" formControlName="idVoucher" placeholder="Id Voucher" style="width: 250px;"/>
                      <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#exampleModal1"
                      (click)="guardarIdVoucher()">
                      Guardar
                    </button>
                    </div>

                    <div class="input-group mb-3" *ngIf="formIdVoucher.get('idVoucher').invalid || formIdVoucher.get('idVoucher').touched || formIdVoucher.get('idVoucher').dirty">
                      <small *ngIf="formIdVoucher.get('idVoucher').hasError('maxlength')" class="text-danger">
                        maximo 25 caracteres
                      </small>
                      <small *ngIf="formIdVoucher.get('idVoucher').hasError('pattern')" class="text-danger">EL Id debe ser Númerico</small>
                    </div>

                  </div>

              </form>

            </div>
          </div>

          <!-- <div class="card">
            <div class="card-body">
              <div class="align-items-center">
                <div class="form-inline row h-100 justify-content-center align-items-center">
                  <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#exampleModal1"
                    (click)="guardarIdVoucher()">
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </section>

      <!--aqui final de la tabla del modal-->

      <!--fin contenido dentro del modal-->
    </div>
  </div>
</div>
</div>
<!--FIN MODAL AGREGAR ID VOUCHER-->

<div #myDiv></div>