<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4 ">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <!-- <img src="assets/img/logoparte1_.png" alt="imagen1" height="33px;" width="47px;" style="padding-right: 5px;" />
    <img src="assets/img/logoparte3.png" alt="imagen2" height="33px;" width="120px;" /> -->

    <img src="assets/img/logo.jpg" alt="imagen1" height="38px;" width="220px;" style="padding: 0px;" />
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a [routerLink]="['/profile']" class="d-block"
          >Alexander Pierce - {{ usuario }}</a
        >
      </div>
    </div> -->

    <!-- Sidebar Menu  ***************  MENU ORIGINAL ************************************************* -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- <li class="nav-item">
          <a [routerLink]="['/main']" class="nav-link">
            <i class="fas fa-home"></i>
            <p>
              MENU INICIAL
            </p>
          </a>
        </li> -->

        <!-- <li class="nav-item has-treeview " >
          <a href="#" class="nav-link" >
            <i class="far fa-hand-paper"></i>
            <p>
              TEST
              <i class="right fas fa-angle-left"></i>
              <span class="badge badge-danger ">NO TOCAR</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/main/blank']" class="nav-link">
                <i class="nav-icon far fa-minus-square"></i>
                <p>Blank</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/upload']" class="nav-link">
                <i class="nav-icon far fa-minus-square"></i>
                <p>Upload</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/pdfExport']" class="nav-link">
                <i class="nav-icon far fa-minus-square"></i>
                <p>PDFExport</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/socio']" class="nav-link">
                <i class="nav-icon far fa-minus-square"></i>
                <p>Socios</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/tabla']" class="nav-link">
                <i class="nav-icon far fa-minus-square"></i>
                <p>Tabla</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/tabla2']" class="nav-link">
                <i class="nav-icon far fa-minus-square"></i>
                <p>Tabla2</p>
              </a>
            </li>
          </ul>
        </li> -->
     
        <!-- <li class="header" style="color: darkseagreen;">CARTOLA MENU</li>

        <li class="nav-item">
          <a [routerLink]="['/main/contaManual']" class="nav-link">
            <i class="nav-icon fas fa-file-signature"></i>
            <p>
              Contabilizacion Manual
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/main/conciliacion']" class="nav-link">
            <i class="nav-icon fas fa-file-signature"></i>
            <p>
              Conciliacion
            </p>
          </a>
        </li> -->

        <!-- <li class="nav-item">
          <a [routerLink]="['/main/gastos']" class="nav-link">
            <i class="fas fa-upload"></i>
            <p>Cargar Gastos</p>
          </a>
        </li> -->

      
        <!-- <li class="nav-item has-treeview ">
          <a href="#" class="nav-link ">
            <i class="nav-icon fas fa-table"></i>
            <p>
              REPORTES
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/main/reportAgrupaciones']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>Agrupaciones</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/reportFacturacion']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>
                  Facturacion
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/reportAuditoria']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>Auditoria</p>
                <span class="badge badge-danger ">No Probar</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/reportTransaccion']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>Transaccion</p>
                <span class="badge badge-danger ">No Probar</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/reportGastos']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>Gastos</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/reportConciliacion']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>Conciliacion
                <span class="badge badge-danger ">Rever</span>
                <span class="badge badge-info ">Apro</span></p>
              </a>
            </li>
          </ul>
        </li>

     
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
              SOCIOS
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/main/socio']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>Agregar Socios</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/entidad']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>Agregar Entidades</p>
              </a>
            </li>
          </ul>
        </li> -->
<!-- *************************FIN ORIGINAL*************************************** -->



        <!-- reporte menu estatico -->
        <!-- <li class="header" style="color: darkseagreen;">REPORTES</li>

        <li class="nav-item">
          <a [routerLink]="['/main/reportAgrupaciones']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Agrupaciones</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/main/reportFacturacion']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>
              Facturacion
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/main/reportAuditoria']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Auditoria</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/main/reportTransaccion']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Transaccion</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/main/reportConciliacion']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Conciliacion</p>
          </a>
        </li> -->

        <!-- -----------socios menu desplegable --------------- -->
        <!-- <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
              Socios
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/main/socio']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Agregar Socios</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/main/entidad']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Agregar Entidades</p>
              </a>
            </li>
          </ul>
        </li> -->

        <!-- socios menu estatico -->



        <!-- <li class="header" style="color: darkseagreen;">MENU DE PRUEBA</li>
        
          <a class="nav-link" data-toggle="collapse" href="#reporteMenu" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">
          <i class="nav-icon fas fa-table"></i>
          <p style="color: white;">
            <i class="right fas fa-angle-left"></i>
            <b>REPORTES</b> 
          </p>
        </a>
          <div class="collapse multi-collapse" id="reporteMenu">
            <ul class="nav">
              <li class="nav-item">
                <a [routerLink]="['/main/reportAgrupaciones']" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Agrupaciones</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/main/reportFacturacion']" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    Facturacion
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/main/reportAuditoria']" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Auditoria</p>
                  <span class="badge badge-danger ">No Probar</span>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/main/reportTransaccion']" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Transaccion</p>
                  <span class="badge badge-danger ">No Probar</span>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/main/reportGastos']" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gastos</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/main/reportConciliacion']" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Conciliacion
                  <span class="badge badge-danger ">Rever</span>
                  <span class="badge badge-info ">Apro</span></p>
                </a>
              </li>
            </ul>
          </div> -->
        
        <!--  fin menu reporte  -->

        <!--  menu socio desplegable -->
        
        <!-- <a class="nav-link " data-toggle="collapse" href="#socioMenu" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">
          <i class="nav-icon fas fa-building"></i>
          <p style="color: white;">
            <i class="right fas fa-angle-left"></i>
            <b>SOCIO</b>
            <span class="right badge badge-danger">Nuevo</span>
          </p>
        </a>
          <div class="collapse multi-collapse" id="socioMenu">
            <ul class="nav">
              <li class="nav-item">
                <a [routerLink]="['/main/socio']" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Agregar Socios</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/main/entidad']" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Agregar Entidades</p>
                </a>
              </li>
            </ul>
          </div> -->
        
        <!-- fin menu socio -->




      </ul>

      <div class="card collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title var"><a [routerLink]="['/main']" >MENU PRINCIPAL</a></p>
        </div>
        <div class="card-body subOpcionColor">
        </div>
      </div>  

      <div class="card collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title var"><a [routerLink]="['/main/conciliacion']" >CONCILIACION</a></p>
        </div>
        <div class="card-body subOpcionColor">
        </div>
      </div>  

      <div class="card collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title var"><a [routerLink]="['/main/gastos']" >CARGAR GASTOS</a></p>
        </div>
        <div class="card-body subOpcionColor">
        </div>
      </div>

      <div class="card collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title var"><a [routerLink]="['/main/flujoAprobacion']" >FLUJO DE APROBACION</a></p>
        </div>
        <div class="card-body subOpcionColor">
        </div>
      </div>  

      <div class="card collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title var"><a [routerLink]="['/main/flujoReversa']" >FLUJO DE REVERSA</a></p>
        </div>
        <div class="card-body subOpcionColor">
        </div>
      </div>   

      <div class="card collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title var"><a [routerLink]="['/main/cierre']" >CIERRE Y APERTURA PERIODO CONTABLE</a></p>
        </div>
        <div class="card-body subOpcionColor">
        </div>
      </div>     

      <div class="card  collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title ">CONTABILIZACIÓN <br>MANUAL</p>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body subOpcionColor ">
          <ul>
            <li>
              <a [routerLink]="['/main/contaManual']" >
                <p>Devengo</p>
              </a>
            </li>
            <li>
              <a [routerLink]="['/main/contaPago']" >
                <p>Recaudación</p>
              </a>
            </li>
          </ul>
        </div>
      </div>           
      
      <div class="card  collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title ">REPORTES</p>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body subOpcionColor ">
          <ul>
            <li >
              <a [routerLink]="['/main/reportAgrupaciones']" >
                <p>Agrupaciones</p>
              </a>
            </li>
            <li >
              <a [routerLink]="['/main/reportFacturacion']" >
                <p>
                  Facturacion
                </p>
              </a>
            </li>

            <li>
              <a [routerLink]="['/main/reportGastos']" >
                <p>Gastos</p>
              </a>
            </li>
            <li>
              <a [routerLink]="['/main/reportAuditoria']" >
                <p>Auditoria</p>
              </a>
            </li>
            <li >
              <a [routerLink]="['/main/reportTransaccion']" >
                <p>Transaccion</p>
              </a>
            </li>
            <li >
              <a [routerLink]="['/main/reportConciliacion2']" >
                <p>Conciliacion</p>
              </a>
            </li>
            <li >
              <a [routerLink]="['/main/reportContabilizacion']" >
                <p>Contabilizacion</p>
              </a>
            </li>
            <li >
              <a [routerLink]="['/main/reportExtraccion']" >
                <p>Extraccion (Lotes)</p>
              </a>
            </li>
            <li >
              <a [routerLink]="['/main/reportAgrupaciones2']" >
                <p>Agrupacion</p>
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="card collapsed-card ">
        <div class="card-header opcionColor">
          <p class="card-title var">SOCIO</p>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body subOpcionColor">
          <ul >
            <li >
              <a [routerLink]="['/main/socio']" >
                <p>Agregar Socios</p>
              </a>
            </li>
            <li >
              <a [routerLink]="['/main/entidad']" >
                <p>Agregar Entidades</p>
              </a>
            </li>
          </ul>
        </div>
      </div>  
    

    </nav>
    <!-- /.sidebar-menu -->


  </div>
  <!-- /.sidebar -->
</aside>