.main-sidebar {
  height: 100vh;
  // overflow: scroll;
  // width: 270px !important;
}

a.brand-link{
border-color: rgb(114, 114, 114);
background-color: white;
}
/*color del menu*/
p{
  color: rgb(240, 240, 240);
  padding-left: 1px;
 // padding-left: 10px;
}

i.nav-icon.fas.fa-tachometer-alt{
  color:  rgb(240, 240, 240);
}

i.nav-icon.fas.fa-th{
  color:  rgb(240, 240, 240);
}

/*color fondo del  menu*/
aside.main-sidebar.sidebar-dark-primary.elevation-4{
  // background:rgb(68, 68, 68);
  background: #299362;
}


.disabled {
  pointer-events:none; //This makes it not clickable
  opacity:0.6;         //This grays it out to look disabled
}

.opcionColor {
background: #227D52;
color: #dcf7ea;
// font: 8px Source Sans Pro, sans-serif;
// font: italic small-caps bold 12px/30px Georgia, serif;
// font-family: "Times New Roman", Times, serif;
// font-size: 5px;
}

.opcionColor a {
  color: #dcf7ea;
}


.subOpcionColor {
  background: #299362;
  color: #dcf7ea;
}


.callout, .card, .info-box, .mb-3, .my-3, .small-box {
   margin-bottom: 4px!important; 
}

.card .card-header .card-title {
  float: left;
 // font: normal small-caps normal 16px/1.4 Source Sans Pro !important;
 // font-family: "Source Sans Pro", Times, serif;
 // font-size: 14px !important;
 // font-weight: 400;
  margin: 0;

  
  font-family: Arial, Helvetica, sans-serif !important;
 // line-height: 1.4;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-variant: small-caps;
  font-size: 14px !important;
}

// @media (max-width: 200px) {
//   .card .card-header .card-title .var {
//     display: none;
//   }
// }

aside{
 z-index: 3;
}