  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card margen">
            <div class="card-body card1">
                <div class="form-inline justify-content-center box-footer clearfix">
  
  
                    <table id="example" class="table table-striped table-bordered table-sm text-xs text-center margen" style="width:80%">
                        <thead>
                        <tr class="bg-success">
                            <th>Id Voucher</th>
                            <th>Estado</th>
                            <th>Id Contabilización</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let voucher of voucherConciliacion">
                            <!-- <tr> -->
                                <td>{{voucher.voucherId}}</td>
                                <td>{{voucher.estadoNombre}}</td>
                                <td>{{voucher.idContabilizacion}}</td>
                                <!-- <td *ngIf="periodo.status == 'C'">(click)="cerrarPeriodo(periodo.value, periodo.name);"</td> -->
                                <td>
                                    <button 
                                        *ngIf="(voucher.estado == '18')" 
                                        class="btn btn-success btn-sm" type="submit"
                                        (click)="voucherReintento(voucher.voucherId, voucher.idContabilizacion);">
                                        Reintentar
                                    </button>
                                </td>
                                <td>
                                    <input *ngIf="(voucher.estado == '18')" type="text" class="input-xs mr-2" 
                                    placeholder="Id Voucher" id="voucher.voucherId" (blur)="onBlurMethod($event, voucher.voucherId)">
                                    <button 
                                        *ngIf="(voucher.estado == '18')" 
                                        class="btn btn-success btn-sm" type="submit"
                                        (click)="guardarIdVoucher(voucher.voucherId);">
                                        Guardar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  </div>
</section>
<ngx-spinner [visible]="spinner" [config]="spinnerConfig"></ngx-spinner>