
/*primer formulario*/

.scroll {
    // max-height: 100px;
    overflow-y: auto;
    scrollbar-color: yellow #800080;
  }
  .margen{
      margin-top: 1em;
  }

  input{
      width: 4em !important;
  }
  
  div.card-body.card1 {
    // background-color: #00965e;
    border-radius: 3px;
    border-style: solid;
    border-color: #00965e;

  
    select.form-control {
      color: rgb(94, 93, 93); 
      margin-top: 5px;
      margin-left: auto;
      width: 100%;
      height: 35px;
    }
  
    /*boton buscar*/
    #searchbutton {
      color: #00965e;
      background-color: rgb(206, 206, 206);
      margin-top: 5px;
      width: 100%;
      height: 35px;
    }
  }
  
  .padre{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .campos{
    display: flex;
    flex-wrap: wrap;
  }


  /* ---------------------- */

/*custom styles*/
/* 
.e-input-group.e-date-wrapper.e-custom-style:not(.e-float-icon-left)::before, 
.e-input-group.e-date-wrapper.e-custom-style:not(.e-float-icon-left)::after 
{ 
    background: blue;
}

.e-date-wrapper.e-custom-style input.e-input::selection { 
    background: blue;
}
.e-date-wrapper.e-custom-style input.e-input::-moz-selection { 
    background: blue;
}

.e-calendar .e-content td.e-disabled .e-day, .e-calendar .e-content td.e-disabled:hover .e-day, .e-calendar .e-content td.e-disabled:focus .e-day {
    color: blue;
    font-weight: bold;
}

.e-date-wrapper.e-custom-style .e-input-group-icon.e-date-icon.e-icons, 
.e-date-wrapper.e-custom-style .e-input { 
    color: blue;
}

.e-date-wrapper.e-custom-style input.e-input::selection { 
    background: blue;
}
.e-date-wrapper.e-custom-style input.e-input::-moz-selection { 
    background: blue;
}

.e-date-wrapper.e-custom-style .e-input-group-icon.e-date-icon.e-icons.e-active {  
    color: blue;
}
 */
/* .e-date-wrapper.e-custom-style {
 background-color: green; 
 background: green; 
  color: green;
}

.e-datepicker.e-popup {
  background-color: blue; 
   background: blue; 
  color: blue;
} */

/* 
   .e-week-header {
         color: #EBADD6;
   }
   .e-text {
         color: black;
   }
    .e-state-default {
         color: pink;
   }
    .e-active {
         background-color: green;
   }
    .e-state-default:hover {
         color: #EBADD6;
   }
    .e-dt-button {
         color: black;
         background-color: #E085C2;
   }
    .e-header {
         background-color: #E085C2;
         color: black;
   }
    .e-timecontainer .e-header {
         background-color: #E085C2;
         color: black;
   }
    .e-datepicker table td:hover,
    .e-datepicker td.e-state-hover,
    .e-datepicker .current-month.e-state-default.e-special-day:hover {
         background-color: #FF1975;
   }
    .e-timewidget .e-select:hover,
    .e-time-popup.e-popup .e-hover {
         background: #FF1975;
         color: white;
   }
    .e-datetime-wrap:hover {
         background: #FF1975;
   }
 */