<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card margen">
            <div class="card-body card1">
                <div class="form-inline justify-content-center box-footer clearfix">
                    <form class="form-inline" [formGroup]="form" novalidate id="formId" (ngSubmit)="onSubmit()">

                        <div class="padre justify-content-center">
                            <div class="campos">

                                <div class="form-group" *ngIf="flujo">
                                    <select id="flujo" name="flujo" class="input-xs mr-2" placeholder="Flujo"
                                        formControlName="flujo">
                                        <option value="">Flujo</option>
                                        <option value="Todas" selected>Todos</option>
                                        <option *ngFor="let flujo of flujos;" value={{flujo}}>
                                            {{flujo}}
                                        </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="form.get('flujo').invalid && (form.get('flujo').touched || form.get('flujo').dirty)">
                                    <small class="text-danger">Flujo es requerido</small>
                                </div>

                                <div class="form-group" *ngIf="subconcepto">
                                    <select id="subconcepto" name="subconcepto" class="input-xs mr-2"
                                        placeholder="Subconcepto" formControlName="subconcepto">
                                        <option value="">Subconcepto</option>
                                        <option value="Todas" selected>Todos</option>
                                        <option *ngFor="let subconcepto of subconceptos;" value={{subconcepto}}>
                                            {{subconcepto}}
                                        </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="form.get('subconcepto').invalid && (form.get('subconcepto').touched || form.get('subconcepto').dirty)">
                                    <small class="text-danger">Subconcepto es requerido</small>
                                </div>                                

                                <div class="form-group" *ngIf="estado">
                                    <select id="estado" name="estado" class="input-xs mr-2" placeholder="Estado"
                                        formControlName="estado">
                                        <option value="">Estado</option>
                                        <option value="Todas" selected>Todos</option>
                                        <option *ngFor="let estado of estados;" value={{estado.estIdestado}}>
                                            {{estado.estNombreestado}}
                                        </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="form.get('estado').invalid && (form.get('estado').touched || form.get('estado').dirty)">
                                    <small class="text-danger">Estado es requerido</small>
                                </div>                                   
                                <!--    <ejs-datetimepicker locale="es"></ejs-datetimepicker> -->
                                <div
                                    *ngIf="form.get('flujo').invalid && (form.get('flujo').touched || form.get('flujo').dirty)">
                                    <small class="text-danger">flujo es requerido</small>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <ejs-datepicker format='dd-MM-yyyy' [max]="maxDate" formControlName="dateFrom"
                                            [cssClass]='cssClass' locale="es" placeholder="Fecha Desde:">
                                        </ejs-datepicker>
                                    </div>
                                </div>
                                <div class="form-group ml-2">
                                    <div class="input-group">
                                        <ejs-datepicker format='dd-MM-yyyy' [max]="maxDate" formControlName="dateTo"
                                            locale="es" placeholder="Fecha Hasta:">
                                        </ejs-datepicker>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success btn-sm" *ngIf="callAuditoria"
                                        (click)="listarAuditoriaByRango()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" *ngIf="callExtraccion"
                                        (click)="listarLoteByRango()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" *ngIf="callTransaccion"
                                        (click)="listarTransaccionByRango()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" *ngIf="callContabilizacion"
                                        (click)="listarContabilizacionByRango()">
                                        <i class="fas fa-search"></i>
                                    </button>     
                                    <button type="button" class="btn btn-success btn-sm" *ngIf="callAgrupacion"
                                        (click)="listarAgrupacionByRango()">
                                        <i class="fas fa-search"></i>
                                    </button>      
                                    <button type="button" class="btn btn-success btn-sm" *ngIf="callConciliacion"
                                        (click)="listarConciliacionByRango()">
                                        <i class="fas fa-search"></i>
                                    </button>   
                                    <button type="button" class="btn btn-success btn-sm" *ngIf="callGastos"
                                        (click)="listarGastoByRango()">
                                        <i class="fas fa-search"></i>
                                    </button>                                                                                                                                      
                                    <!--          <button type="submit" class="btn btn-success btn-sm">
                                        <i class="fas fa-search"></i>test
                                    </button> -->
                                </div>

                            </div>

                            <!--  error msg -->
                            <div *ngIf="form.invalid && (form.touched || form.dirty)">
                                <small class="text-danger">{{ form.errors?.dates | json }}</small>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<label *ngIf="form.errors">{{ form.errors?.dates | json }}</label>
format='yyyy-MM-dd'    format="dd/MM/yyyy"
<ejs-datetimepicker></ejs-datetimepicker>

<hr />
<br />
<p>MINIMO Y MAXIMO</p>
<ejs-datetimepicker [min]="minDate" [max]="maxDate"></ejs-datetimepicker>

<p>**************</p>
<ejs-datepicker [value]="dateValue" placeholder="Enter date"></ejs-datepicker>
<ejs-datepicker id="datepicker" [min]="minDate" [max]="maxDate"></ejs-datepicker>

<p>*******aqui**********</p>
<ejs-datepicker format="dd/mm/yyyy" [value]="dateValue" [min]="minDate" [max]="maxDate"></ejs-datepicker> -->