
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="titulo">Reporte de Agrupaciones</h1>
        </div>
        <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div> -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  
  <!--  *********  FILTROS *************************************** -->
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">Filtros</h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <!-- filtro component -->
      <app-fechas (listarAgrupaciones)="listarAgrupRango($event)" [flujo]="false" [subconcepto] = "false" [callAgrupacion] = "true" [listaEstado]="listarEstados">
</app-fechas>
    </div>
  </div>
  <!--  ********  FIN FILTROS **************************************** -->
  
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card text-xs" #agruptable>
  
        <form [formGroup]="busquedaForm">
          <!---->
          <div class="box-footer clearfix">
            <div class="pull-left">
              <label>Mostrar</label>
              <select (change)="selectChangeHandler($event)" class=" input-xs" style="width: 65px;">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="{{total}}">Todas</option>
              </select>
              <label>elementos</label>
            </div>
  
            <div class="pull-right">
              <input type="text" name="searchCompany" placeholder="Compañia..." formControlName="searchCompany"
                [(ngModel)]="searchCompany" class="mr-2" />
  
              <input type="text" name="searchSocio" placeholder="Socio..." formControlName="searchSocio"
                [(ngModel)]="searchSocio" class="mr-2" />
  
              <button (click)="exportToExcel()" class="btn btn-success btn-sm "><i class="far fa-file-excel">
                  Excel</i></button>
            </div>
  
          </div>
          <!---->
        </form>
  
        <table id="example" class="table table-striped table-bordered table-sm" style="width:100%">
  
          <thead>
            <tr>
                <!-- <th> Idperiodoconcar      </th> -->
                <th> Socio            </th>
                <th> Compania         </th>
                <th> Poliza           </th>
                <th> Concepto         </th>
                <th> Subconcepto      </th>
                <th> Producto        </th>
                <th> Ramo            </th>
                <th> Canal            </th>
                <th> Facturable      </th>
                <th> Tipo Facturación  </th>
                <!-- <th> Fechaufpims          </th>
                <th> Mescoberturapims     </th>
                <th> Brutopesospims       </th>
                <th> Netopesospims        </th>
                <th> Exentopesospims      </th>
                <th> Afectopesospims      </th>
                <th> Ivapesospims         </th>
                <th> Brutoufpims          </th>
                <th> Netoufpims           </th>
                <th> Exentoufpims         </th>
                <th> Afectoufpims         </th>
                <th> Ivaufpims            </th> -->
                <!-- <th> Iderror              </th> -->
                <th> Estado          </th>
                <th> Fecha Agrupación            </th>
                <!-- <th> Salidadinero         </th>
                <th> Bloqueo              </th> -->
            </tr>
          </thead>
  
          <tbody>
            <tr
              *ngFor="let agrupacion of agrupaciones | filter : 'agrCompaniapims' : searchCompany | filter : 'agrSociopims' : searchSocio | paginate: { itemsPerPage: filas, currentPage: p }">
              <!-- <td>{{ agrupacion.agrIdperiodoconcar    }}</td> -->
              <td>{{ agrupacion.agrSociopims          }}</td>
              <td>{{ agrupacion.agrCompaniapims       }}</td>
              <td>{{ agrupacion.agrPolizapims         }}</td>
              <td>{{ agrupacion.agrConceptopims       }}</td>
              <td>{{ agrupacion.agrSubconceptopims    }}</td>
              <td>{{ agrupacion.agrProductopims       }}</td>
              <td>{{ agrupacion.agrRamopims           }}</td>
              <td>{{ agrupacion.agrCanalpims          }}</td>
              <td>{{ agrupacion.agrFacturablepims     }}</td>
              <td>{{ agrupacion.agrTipofacturacionpims}}</td>
              <!-- <td>{{ agrupacion.agrFechaufpims        }}</td>
              <td>{{ agrupacion.agrMescoberturapims   }}</td>
              <td>{{ agrupacion.agrBrutopesospims     }}</td>
              <td>{{ agrupacion.agrNetopesospims      }}</td>
              <td>{{ agrupacion.agrExentopesospims    }}</td>
              <td>{{ agrupacion.agrAfectopesospims    }}</td>
              <td>{{ agrupacion.agrIvapesospims       }}</td>
              <td>{{ agrupacion.agrBrutoufpims        }}</td>
              <td>{{ agrupacion.agrNetoufpims         }}</td>
              <td>{{ agrupacion.agrExentoufpims       }}</td>
              <td>{{ agrupacion.agrAfectoufpims       }}</td>
              <td>{{ agrupacion.agrIvaufpims          }}</td> -->
              <!-- <td>{{ agrupacion.agrIderror            }}</td> -->
              <td>{{ agrupacion.agrIdestadocar        }}</td>
              <td>{{ agrupacion.agrFechagrup          }}</td>
              <!-- <td>{{ agrupacion.agrSalidadinero       }}</td>
              <td>{{ agrupacion.agrBloqueo            }}</td> -->

            </tr>
          </tbody>
  
          <tfoot>
  
            <!--
      <pagination-controls  id="some_id"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          maxSize="9"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    -->
          </tfoot>
  
        </table>
  
        <div class="row justify-content-md-center">
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
          </pagination-controls>
        </div>
  
      </div>
    </div>
  </section>
  
  
