<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
       <!-- <h1 class="titulo">Reporte de Conciliacion</h1> --> 
        <h1 class="titulo">Flujo de Aprobación</h1>
      </div>
      <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>


<!--  *********  FILTROS *************************************** -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <app-filtros (listarConciliaciones)='listarConciliacion($event)' [callConciliacion]="true" 
    [cobertura]="false" [concepto]="false" [subconcepto]="false" [estado]="false" [aprobacion]="false">
    </app-filtros>
  </div>
</div>
<!--  ********  FIN FILTROS **************************************** -->



<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card text-xs" #concitable>

      <form [formGroup]="busquedaForm">
        <!---->
        <div class="box-footer clearfix">
          <div class="pull-left">
            <label>Mostrar</label>
            <select (change)="selectChangeHandler($event)" class=" input-xs" style="width: 65px;">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="100">100</option>
              <option value="{{total}}">Todas</option>
            </select>
            <label>elementos</label>
          </div>

          <div class="pull-right">
            <!-- <input type="text" name="searchCompany" placeholder="Compañia..." formControlName="searchCompany"
              [(ngModel)]="searchCompany" class="mr-2" />

            <input type="text" name="searchSocio" placeholder="Socio..." formControlName="searchSocio"
              [(ngModel)]="searchSocio" class="mr-2" /> -->

          <!--   <input type="text" name="searchConcepto" placeholder="Concepto..." formControlName="searchConcepto"
              [(ngModel)]="searchConcepto" class="mr-2" /> -->

            <button (click)="exportToExcel()" class="btn btn-success btn-sm "><i class="far fa-file-excel">
                Excel</i></button>
          </div>

        </div>
        <!---->
      </form>

      <table id="example" class="table table-striped table-bordered table-sm" style="width:100%">

        <thead>
          <tr>
            <!-- <th> Estado </th> -->
            <th></th>
            <th> Id Conciliación </th>
            <!-- <th> Policy </th> -->
            <!-- <th> Nº Egreso </th> -->
            <th> Año Contable </th>
            <th> Mes Contable </th>
            <th> Compañia </th>
            <th> Socio </th>
            <th> Fecha Proceso </th>
            <th> Usuario </th>
            <th> Estado </th>
            <th> Medio Pago </th>
            <!-- <th> Concepto </th> -->
            <!-- <th> Id Producto </th> -->
            <th> Mes Cobertura </th>
            <!-- <th> Prima Asociada </th>
            <th> Monto Final </th>
            <th> Porcentaje </th>
            <th> Monto Final UF </th> -->
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let conciliacion of conciliaciones | filter : 'compania' : searchCompany | filter : 'socio' : searchSocio | filter : 'concepto' : searchConcepto | paginate: { itemsPerPage: filas, currentPage: p }">
            <!-- <td> {{ conciliacion.estado        }} </td> -->
            <td>
              <button type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;" title="detalles"
                (click)="detalleConciliacion(conciliacion.idConciliacion)" data-toggle="modal"
                data-target="#exampleModalCenter">
                <i class="fas fa-search"></i>
              </button>
              <button 
                *ngIf="conciliacion.aprobacion !== '0' && conciliacion.Estado === '14' "
                type="button" class="btn btn-success btn-sm abortbutton" style="margin-left: 10px;" title="aprobar"
                (click)="accionAprobar(conciliacion.idConciliacion)">
                <i class="fas fa-check"></i>
              </button>
              <button 
                *ngIf="conciliacion.aprobacion !== '0' && conciliacion.Estado === '14' "
                type="button" class="btn btn-danger btn-sm previewbutton" style="margin-left: 10px;" title="rechazar"
                (click)="accionRechazar(conciliacion.idConciliacion)">
                <i class="fas fa-times"></i>
              </button>
            </td>
            <td> {{ conciliacion.idConciliacion}} </td>
            <!-- <td> {{ conciliacion.policy        }} </td> -->
            <!-- <td> {{ conciliacion.nEgreso       }} </td> -->
            <td> {{ conciliacion.anoContable   }} </td>
            <td> {{ conciliacion.mesContable   }} </td>
            <td> {{ conciliacion.compania      }} </td>
            <td> {{ conciliacion.socio         }} </td>
            <td> {{ conciliacion.fechaProceso  }} </td>
            <td> {{ conciliacion.codUsuario    }} </td>
            <td> {{ conciliacion.estadoNombre  }} </td>
            <td> {{ conciliacion.medioPago     }} </td>
           <!--  <td> {{ conciliacion.concepto      }} </td> -->
            <!-- <td> {{ conciliacion.idProducto    }} </td> -->
            <td> {{ conciliacion.mesCobertura  }} </td>
            <!-- <td> {{ conciliacion.primaAsociada }} </td>
            <td> {{ conciliacion.montoFinal    }} </td>
            <td> {{ conciliacion.porcentaje    }} </td>
            <td> {{ conciliacion.montoFinalUF  }} </td> -->
          </tr>
        </tbody>

        <tfoot>
        </tfoot>

      </table>

      <div class="row justify-content-md-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
        </pagination-controls>
      </div>

    </div>
  </div>
</section>

<!--
  ******************  MODAL PARA APROBACION Y REVERSA **********************
-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Detalle del flujo de aprobación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <app-conciliacionmodal 
          [detallesConciliacion]="conciliacionDetalle" 
          [Primaconciliacion]="conciliacionPrima"
          [Comisionconciliacion]="conciliacionComision"
          [Devolucionconciliacion]="conciliacionDevolucion"
          [Recuperoconciliacion]="conciliacionRecupero"
          [Gastosconciliacion]="conciliacionGastos"
          [Sunsystemconciliacion]="conciliacionSunsystem"
          [Netsuiteconciliacion]="conciliacionNetsuite"
          [Validacionesconciliacion]="conciliacionValidaciones"
          [muestraBotonera]="true"
        >
        </app-conciliacionmodal>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>