<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Reporte de Agrupaciones</h1>
      </div>
      <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!--  *********  FILTROS *************************************** -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- filtro component -->
    <app-filtros (listarAgrupaciones)='listarAgrupacion($event)' [callAgrupacion]="true"
      [aprobacion]="false" [anoContable]="false" [estadoAgrupacion]="true" [estado]="false"  >
    </app-filtros>
  </div>
</div>
<!--  ********  FIN FILTROS **************************************** -->

<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card text-xs" #agruptable>

      <form [formGroup]="busquedaForm">
        <!---->
        <div class="box-footer clearfix">
          <div class="pull-left">
            <label>Mostrar</label>
            <select (change)="selectChangeHandler($event)" class=" input-xs" style="width: 65px;">
              <option value="5">5</option>
              <option value="10" selected>10</option>
              <option value="25">25</option>
              <option value="100">100</option>
              <option value="{{total}}">Todas</option>
            </select>
            <label>elementos</label>
          </div>

          <div class="pull-right">
            <input type="text" name="searchCompany" placeholder="Compañia..." formControlName="searchCompany"
              [(ngModel)]="searchCompany" class="mr-2" />

            <input type="text" name="searchSocio" placeholder="Socio..." formControlName="searchSocio"
              [(ngModel)]="searchSocio" class="mr-2" />

            <button (click)="exportToExcel()" class="btn btn-success btn-sm "><i class="far fa-file-excel">
                Excel</i></button>
          </div>

        </div>
        <!---->
      </form>

      <table id="example" class="table table-striped table-bordered table-sm" style="width:100%">

        <thead>
          <tr >
            <th>Id Agrupación</th>
            <th>Compañía</th>
            <th>Mes Cobertura</th>
            <th>Socio</th>
            <th>Poliza</th>
            <th>Periodo Contable</th>
            <th>Estado</th>
            <th>Concepto</th>
            <th>Monto Bruto Pesos</th>
            <th>Neto Pesos</th>
            <th>Exento Pesos</th>
            <th>Afecto Pesos</th>
            <th>IVA Pesos</th>
            <th>Monto Bruto UF</th>
            <th>Neto UF</th>
            <th>Exento UF</th>
            <th>Afecto UF</th>
            <th>IVA UF</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let agrupacion of agrupaciones | filter : 'companiaPims' : searchCompany | filter : 'socioPims' : searchSocio | paginate: { itemsPerPage: filas, currentPage: p }">
            <td>{{agrupacion.idAgrupacion}}</td>
            <td>{{agrupacion.companiaPims}}</td>
            <td>{{agrupacion.mesCoberturaPims}}</td>
            <td>{{agrupacion.socioPims}}</td>
            <td>{{agrupacion.polizaPims}}</td>
            <td>{{agrupacion.idPeriodoConcar }}</td>
            <td>{{agrupacion.estado}}</td>
            <td>{{agrupacion.conceptoPims}}</td>
            <td>{{agrupacion.brutoPesosPims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.netoPesosPims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.excetoPesosPims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.afectoPesosPims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.ivaPesosPims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.brutoUFPims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.netoUFPims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.exentoUFOims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.afectoUFPims | number:'1.0-0':'es'}}</td>
            <td>{{agrupacion.ivaUFPims | number:'1.0-0':'es'}}</td>
            <td>

              <button (click)="detalleAgrupacion(agrupacion.idAgrupacion)" class="btn btn-success btn-sm">
                <i class="far fa-file-excel"> </i>
              </button>

              <!-- <button type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;" title="detalles"
              (click)="detalleAgrupacion(agrupacion.idAgrupacion)" data-toggle="modal" data-target="#exampleModalCenter">
              <i class="fas fa-search"></i>
            </button> -->
            </td>
          </tr>
        </tbody>

        <tfoot>

          <!--
    <pagination-controls  id="some_id"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        maxSize="9"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  -->
        </tfoot>

      </table>

      <div class="row justify-content-md-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
        </pagination-controls>
      </div>

    </div>
  </div>
</section>



<!-- Modal -->
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- @ TODD: mostrar detalles de la agrupacion-->
        <p>detalles de la agrupacion</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Exportar</button>
      </div>
    </div>
  </div>
</div>