/*---------------------formulario john ---------------------------------------*/
/*
.input-xs {
  height: 25px!important;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
*/
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*primer formulario*/

div.card-body.card1 {
  // background-color: #00965e;
   border-radius: 3px;

   select.form-control {
     color: rgb(94, 93, 93); /*letra*/
     margin-top: 5px;
     margin-left: auto;
     width: 100%;
     height: 35px;
   }
 
   /*boton buscar*/
   #searchbutton {
     color: #00965e;
     background-color: rgb(206, 206, 206);
     margin-top: 5px;
     width: 100%;
     height: 35px;
   }
 
   #botonVerde{
     color: white !important;
     background-color: #00965e;
     width: 100%;
     height: auto;
     margin-top: 5px;
     margin-bottom: 5px;
   }
  }
 
//  /*------------------------------------------------------------*/
