div.login-logo {
    padding-bottom: 10px;
  }
  
  /*para ingresar debes estar registrado (texto)*/
  p.login-box-msg {
    color: #00965e;
  }
  
  /*iconos email y password*/
  
  span.fas.fa-envelope {
    color: #00965e;
  }
  
  span.fas.fa-lock {
    color: #00965e;
  }
  
  /*recordar contraseña (texto)*/
  div.custom-control.custom-checkbox {
    width: 320px;
    height: 35px;
  }
  
  /*olvide mi contraseña (texto)*/
  p.mb-1 {
    padding-top: 10px;
  }
  
  p.mb-1:hover {
    padding-top: 10px;
    color: #00965e;
  }
  
  /*boton ingresar*/
  button.btn.btn-primary.btn-block.btn-flat {
    background: #00965e;
  }
  