<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html">
      <img src="assets/img/logoparte1_.png" alt="imagen1" height="53px;" width="65px;" />

      <img src="assets/img/logoparte2.png" alt="imagen2" height="53px;" width="180px;" />
    </a>
    <br />
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Para ingresar debe estar registrado</p>

      <form [formGroup]="loginForm">
        <div class="input-group mb-3">
          <input formControlName="usuario" type="usuario" class="form-control" placeholder="usuario" maxlength="25" 
            [class.is-invalid]="
              loginForm.get('usuario').invalid && loginForm.get('usuario').touched
            " />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>

          <div class="input-group mb-3" *ngIf="
              loginForm.get('usuario').invalid && loginForm.get('usuario').touched
            ">
            <small *ngIf="loginForm.get('usuario').hasError('required')" class="text-danger">
              usuario es requerido
            </small>
            <small *ngIf="loginForm.get('usuario').hasError('maxlength')" class="text-danger">
              maximo 8 caracteres
            </small>
            <small *ngIf="loginForm.get('usuario').hasError('pattern')" class="text-danger">debe ser alfanumerico y mayor 4 caracteres</small>
          </div>
        </div>

        <div class="input-group mb-3">
          <input formControlName="password" type="password" class="form-control" placeholder="Password" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
       <!--      <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="rememberMe" />
              <label class="custom-control-label" for="rememberMe">Recordar contraseña</label>
            </div> -->
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button (click)="logIn()" type="submit" class="btn btn-primary btn-block btn-flat">
              Ingresar
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

<!--       <p class="mb-1">
        <a>Olvide mi contraseña</a>
      </p> -->

    </div>
    <!-- /.login-card-body -->
  </div>
</div>