
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="titulo">Reporte de Conciliacion</h1>
        </div>
        <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div> -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  
  <!--  *********  FILTROS *************************************** -->
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">Filtros</h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <!-- filtro component -->
      <app-fechas (listarConciliaciones)="listarConciRango($event)" [flujo]="false" [subconcepto] = "false" [callConciliacion] = "true" [listaEstado]="listarEstados">
</app-fechas>
    </div>
  </div>
  <!--  ********  FIN FILTROS **************************************** -->
  
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card text-xs" #agruptable>
  
        <form [formGroup]="busquedaForm">
          <!---->
          <div class="box-footer clearfix">
            <div class="pull-left">
              <label>Mostrar</label>
              <select (change)="selectChangeHandler($event)" class=" input-xs" style="width: 65px;">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="{{total}}">Todas</option>
              </select>
              <label>elementos</label>
            </div>
  
            <div class="pull-right">
              <input type="text" name="searchCompany" placeholder="Compañia..." formControlName="searchCompany"
                [(ngModel)]="searchCompany" class="mr-2" />
  
              <input type="text" name="searchSocio" placeholder="Socio..." formControlName="searchSocio"
                [(ngModel)]="searchSocio" class="mr-2" />
  
              <button (click)="exportToExcel()" class="btn btn-success btn-sm "><i class="far fa-file-excel">
                  Excel</i></button>
            </div>
  
          </div>
          <!---->
        </form>
  
        <table id="example" class="table table-striped table-bordered table-sm" style="width:100%">

            <thead>
              <tr>
                <th> Id Conciliacion      </th>
                <th> Tolerancia </th>
                <th> Fecha Conversion     </th>
                <th> Salida Dinero        </th>
                <th> Periodo       </th>
                <th> Estado       </th>
                <!-- <th> cncIderror             </th> -->
                <th> Aprobacion          </th>
                <th> Fecha Creacion       </th>
                <th> Usuario             </th>
              </tr>
            </thead>
    
            <tbody>
              <tr
                *ngFor="let conciliacion of conciliaciones | filter : 'compania' : searchCompany | filter : 'socio' : searchSocio | paginate: { itemsPerPage: filas, currentPage: p }">
                <td> {{ conciliacion.cncIdconciliacion     }} </td>
                <td> {{ conciliacion.cncJustitoleranciapims}} </td>
                <td> {{ conciliacion.cncFechaconversion    }} </td>
                <td> {{ conciliacion.cncSalidadinero       }} </td>
                <td> {{ conciliacion.cncPeriodoconci       }} </td>
                <td> {{ conciliacion.cncIdestadoconci      }} </td>
                <!-- <td> {{ conciliacion.cncIderror            }} </td> -->
                <td> {{ conciliacion.cncAprobacion         }} </td>
                <td> {{ conciliacion.cncFechacreacion      }} </td>
                <td> {{ conciliacion.cncUsuario            }} </td>
              </tr>
            </tbody>
    
            <tfoot>
            </tfoot>
    
          </table>
    
          <div class="row justify-content-md-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
            </pagination-controls>
          </div>
  
      </div>
    </div>
  </section>
  
  
