<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Cargar Gastos</h1>
      </div>
    </div>
  </div>
</section>

<ngx-spinner [visible]="spinner" [config]="spinnerConfig"></ngx-spinner>

<section>

  <div class="card" style="width: 100%;">
    <div class="card-body card1">
      <form>
        <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
          accept=".csv" />
        <button (click)="fileReset()" class="btn-danger">
          Limpiar
        </button>
        <!-- <button (click)="get()" class="btn-success">
          Listar
        </button> -->
      </form>
    </div>
  </div>


  <!-- <div class="custom-file mb-3">
      <input type="file" #csvReader class="custom-file-input" id="customFile" name="filename" (change)="uploadListener($event)" />
      <label class="custom-file-label" for="customFile">Seleccione archivo de Gastos...</label>
    </div> -->

  <!--  ********************************** -->
  <section class="content">
    <div class="container-fluid">
      <!-- Default box -->

      <div class="card text-xs">
        <form [formGroup]="busquedaForm">
          <!---->
          <div class="box-footer clearfix">
            <div class="pull-left">
              <label>Mostrar</label>
              <select (change)="selectChangeHandler($event)" class="input-xs" style="width: 40px;">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="{{ total }}">Todas</option>
              </select>
              <label>elementos</label>
            </div>

            <div class="pull-right">
              <input type="text" name="search" placeholder="concepto..." formControlName="concepto"
                [(ngModel)]="concepto" class="mr-2" />

              <input type="text" name="subconcepto" placeholder="subconcepto..." formControlName="subconcepto"
                [(ngModel)]="subconcepto" class="mr-2" />


            </div>
          </div>
          <!---->
        </form>
      </div>

    </div>
  </section>



  <!-- <table class="minimalistBlack" *ngIf="gastos.length > 0"> -->
    <table class="table table-striped table-bordered table-sm table-responsive" *ngIf="records.length > 0">
    <thead class="thead-dark">
      <!-- <tr *ngFor="let title of headersRow;let j = index1;">     -->
      <tr>
        <th> subConcepto</th>
        <th> operatoria</th>
        <th> código</th>
        <th> glosa código</th>
        <th> compañia</th>
        <th> socio</th>
        <th> policy</th>
        <th> concepto</th>
        <th> idPrdt</th>
        <th> mesCobertura</th>
        <th> primaAsociada</th>
        <th> montoFinal</th>
        <th> porcentaje</th>
        <th> usuario </th>
        <th> fechaCarga </th>
        <th> cantidadRegistros </th>
        <th> nombreArchivo </th>
      </tr>
    </thead>
    <tbody >

      <tr *ngFor="let gasto of records | filter : 'concepto' : concepto | filter : 'subconcepto' : subconcepto | paginate: { itemsPerPage: filas, currentPage: p } ">
        <td> <span> {{ gasto.subconcepto   }}</span> </td>
        <td> <span> {{ gasto.operatoria    }}</span> </td>
        <td> <span> {{ gasto.compania      }}</span> </td>
        <td> <span> {{ gasto.socio         }}</span> </td>
        <td> <span> {{ gasto.policy        }}</span> </td>
        <td> <span> {{ gasto.concepto      }}</span> </td>
        <td> <span> {{ gasto.idPrdt        }}</span> </td>
        <td> <span> {{ gasto.mesCobertura  }}</span> </td>
        <td> <span> {{ gasto.primaAsociada }}</span> </td>
        <td> <span> {{ gasto.montoFinal    }}</span> </td>
        <td> <span> {{ gasto.porcentaje    }}</span> </td>
        <td> <span> {{ gasto.usuario            }}</span> </td>
        <td> <span> {{ gasto.fechaCargArch         }}</span> </td>
        <td> <span> {{ gasto.cantidadRegistros  }}</span> </td>
        <td> <span> {{ gasto.nombreArchivo      }}</span> </td>
      </tr>
    </tbody>
  </table>

  <div class="row justify-content-md-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
    </pagination-controls>
  </div>

</section>

