<br />

<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Entidades</h3>
  
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body" id="test1">

        <form [formGroup]="entidadForm">

          <div class="row">
            <div formGroupName="socio">
            <div class="col-md-2">
              <div>
                <label for="idsocio">Socio:</label>
                <select formControlName="idsocio" class="form-control select2" style="width: auto;" required
                  [class.is-invalid]="entidadForm.get('socio').get('idsocio').invalid && entidadForm.get('socio').get('idsocio').touched">
                  <option value="" disabled selected>Seleccione...</option>
                  <option *ngFor="let socio of socios" value="{{socio.idsocio}}">
                    {{socio.nombregeneral}}
                  </option>
                </select>
              </div>

              <div>
                <div
                  *ngIf="entidadForm.get('socio').get('idsocio').invalid && (entidadForm.get('socio').get('idsocio').touched || entidadForm.get('socio').get('idsocio').dirty)">
                  <small class="text-danger">Compañia es requerido</small>
                </div>
              </div>
            </div>
            </div>

            <div class="col-md-2">
              <div >
                <label for="razonsocial">Razon Social:</label>
                <input type="text" class="form-control" formControlName="razonsocial" placeholder="razonsocial"
                  [class.is-invalid]="entidadForm.get('razonsocial').invalid && entidadForm.get('razonsocial').touched">
              </div>

              <div
                *ngIf="entidadForm.get('razonsocial').invalid && (entidadForm.get('razonsocial').touched || entidadForm.get('razonsocial').dirty) ">
                <small *ngIf="entidadForm.get('razonsocial').hasError('required')" class="text-danger">razon Social es
                  requerido</small>
                <small *ngIf="entidadForm.get('razonsocial').hasError('minlength')" class="text-danger">minimo 2
                  caracteres</small>
              </div>
            </div>

            <div class="col-md-2">
              <div >
                <label for="rut">Rut:</label>
                <input formControlName="rut" type="text" class="form-control" placeholder="rut" required pattern="^(\b(\d{1,3}(?:(\.?)\d{3}){2}(-?)[\dkK])\b)$"
                  [class.is-invalid]="entidadForm.get('rut').invalid && entidadForm.get('rut').touched">
              </div>

              <div
                *ngIf="entidadForm.get('rut').invalid && (entidadForm.get('rut').touched || entidadForm.get('rut').dirty) ">
                <small *ngIf="entidadForm.get('rut').hasError('required')" class="text-danger">rut es
                  requerido</small>
                <small *ngIf="entidadForm.get('rut').hasError('minlength')" class="text-danger">minimo 6
                  caracteres</small>
                <small *ngIf="entidadForm.get('rut').hasError('pattern')" class="text-danger">formato incorrecto</small>
              </div>
            </div>

            <div class="col-md-2">
              <div >
                <label for="cuentacontable">Cuenta Contable:</label>
                <input formControlName="cuentacontable" type="text" class="form-control" placeholder="cuentacontable" required pattern="^[a-zA-Z0-9]*$"
                  [class.is-invalid]="entidadForm.get('cuentacontable').invalid && entidadForm.get('cuentacontable').touched">
              </div>

              <div
                *ngIf="entidadForm.get('cuentacontable').invalid && (entidadForm.get('cuentacontable').touched || entidadForm.get('cuentacontable').dirty) ">
                <small *ngIf="entidadForm.get('cuentacontable').hasError('required')" class="text-danger">cuenta Contable es
                  requerido</small>
                <small *ngIf="entidadForm.get('cuentacontable').hasError('minlength')" class="text-danger">minimo 2
                  caracteres</small>
                  <small *ngIf="entidadForm.get('cuentacontable').hasError('pattern')" class="text-danger">solo alfanumerico</small>
              </div>
            </div>

            <div class="col-md-2">
              <div >
                <label for="descripcion">Descripción:</label>
                <input type="text" class="form-control" formControlName="descripcion" placeholder="descripcion"
                  [class.is-invalid]="entidadForm.get('descripcion').invalid && entidadForm.get('descripcion').touched">
              </div>

              <div
                *ngIf="entidadForm.get('descripcion').invalid && (entidadForm.get('descripcion').touched || entidadForm.get('descripcion').dirty) ">
                <small *ngIf="entidadForm.get('descripcion').hasError('required')" class="text-danger">descripcion es
                  requerido</small>
                <small *ngIf="entidadForm.get('descripcion').hasError('minlength')" class="text-danger">minimo 2
                  caracteres</small>
              </div>
            </div>

            <div class="col-md-2">
              <br/>
              <button id="agregar" type="submit" class="btn btn-success" (click)="add()"
                *ngIf="!entidad.identidad">Agregar</button>
              <input *ngIf="entidad.identidad" type="button" class="btn btn-outline-primary" value="Actualizar"
                (click)="update()">
            </div>

          </div>

        </form>

      </div>
      <!-- /.card-body -->
    </div>
  </div>

  <!--  tabla -->
  <div class="card">
    <div class="card-body text-xs">
      <table id="example" class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Razon Social</th>
            <th scope="col">Rut</th>
            <th scope="col">Cuenta Contable</th>
            <th scope="col">Descripción</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entidad of entidades">
            <td>{{entidad.identidad}}</td>
            <td>{{entidad.razonsocial}}</td>
            <td>{{entidad.rut}}</td>
            <td>{{entidad.cuentacontable}}</td>
            <td>{{entidad.descripcion}}</td>
            <td>

              <button class="btn btn-primary  btn-sm" type="button" data-toggle="collapse" data-target="#collapseForm"
                aria-expanded="false" aria-controls="collapseForm" (click)="editar(entidad)">
                <i class="fas fa-pencil-alt"></i>
              </button>

              <button type="button" class="btn btn-danger  btn-sm" style="margin-left: 10px;" title="eliminar"
                (click)="delete(entidad)">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</section>
