<div id="content" #content>  
      <div class="alert alert-info">  
          <strong>Html To PDF Conversion - Angular </strong>  
      </div>  
      <div>  
        <input type="button" value="CAPTURE" (click)="captureScreen()"/>  
      </div>  
  </div> 
<table class="table table-striped" id="contentToConvert">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>