th{
    font-size: 12px;
}

td{
    font-size: 12px;    
}

button.btn.btn-link{
    color:gray;
}


/*primer cuadro-----------------------------------------------------------------------------------*/ 
div#headingOne.card-header{
padding-right:15px;
}
div#headingOne.card-header:hover{
    padding-right:15px;
    background:#e0e0e0;
    }

button.btn.pull-right.boton-modal{
    background-color: none;
    color:#00965e;
}


/*------------------------------------------------------------*/
/*primer formulario*/


div.card-body.card1 {
    background-color:#00965e ;
    border-radius: 3px ;
  
    select.form-control{
    color:rgb(94, 93, 93); /*letra*/
    margin-top: 5px;
    margin-left: auto;
    width: 100%;
    height: 35px;
  }

/*boton buscar*/
    #searchbutton{
    color: #00965e;
    background-color:rgb(206, 206, 206);
    margin-top: 5px;
    width: 100%;
    height: 35px;
    }
    }

    div.modal-content{

        div.table-responsive{
            border-color:gray;
        }
     
        button.btn.btn-primary.cuadro2{
            background-color: #00965e !important;
            border:none;
        }

    }

    /*botones agregar gastos y cargar gastos*/
    button.btn.btn-primary.cuadro2{
        background-color: #00965e !important;
        border:none;
    }
/*------------------------------------------------------------*/


/*segundo cuadro-----------------------------------------------------------------------------------*/   
div#headingTwo.card-header{
padding-right:15px;
}
div#headingTwo.card-header:hover{
    padding-right:15px;
    background:#e0e0e0;
    }

    /*tercer cuadro*/ 
div#headingThree.card-header{
padding-right:15px;
}
div#headingThree.card-header:hover{
    padding-right:15px;
    background:#e0e0e0;
    }

/*cuarto cuadro*/   
div#headingFour.card-header{
padding-right:15px;
}
div#headingFour.card-header:hover{
    padding-right:15px;
    background:#e0e0e0;
    }

/*cuarto cuadro*/   
div#headingFive.card-header{
    padding-right:15px;
    }
div#headingFive.card-header:hover{
    padding-right:15px;
    background:#e0e0e0;
    }

h1{
    color:#00965e;
}

/*sexto cuadro-----------------------------------------------------------------------------------*/   
div#headingSix.card-header{
    padding-right:15px;
    }
    div#headingSix.card-header:hover{
        padding-right:15px;
        background:#e0e0e0;
        }

/*sexto cuadro-----------------------------------------------------------------------------------*/   
div#headingSeven.card-header{
    padding-right:15px;
    }
    div#headingSeven.card-header:hover{
        padding-right:15px;
        background:#e0e0e0;
        }

        /*------------------------------------------------------------*/
/*tercer formulario*/


div.card-body.card3 {
    background-color:none ;
    border-radius: none ;
  
    select.form-control{
    color:rgb(94, 93, 93); /*letra*/
    margin-top: 5px;
    margin-left: auto;
    width: 100%;
    height: 35px;
  }

/*boton buscar*/
    #abortbutton{
    color: white;
    background-color:#00965e;
    margin-top: 5px;
    width: 100%;
    height: 35px;
    }

    #previewbutton{
        color: white;
        background-color:#00965e;
        margin-top: 5px;
        width: 100%;
        height: 35px;
        }

    }

    div.modal-content{

        div.table-responsive{
            border-color:gray;
        }
     
        button.btn.btn-primary.cuadro2{
            background-color: #00965e !important;
            border:none;
        }

    }