<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Reporte de Transacciones</h1>
      </div>
      <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!--  *********  FILTROS *************************************** -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- filtro component -->
    <app-fechas (listarTransacciones)='listarTransaccionRango($event)' [flujo] = "false" [estado]="false" [callTransaccion] = "true" [listaEstado]="listarEstados">
    </app-fechas>
  </div>
</div>
<!--  ********  FIN FILTROS **************************************** -->

<section>
    <div class="container-fluid">
  
      <div class="card text-xs">
        <form [formGroup]="busquedaForm">
          <!---->
          <div class="box-footer clearfix">
            <div class="pull-left">
              <label>Mostrar</label>
              <select (change)="selectChangeHandler($event)" class="input-xs" style="width: 65px;">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="{{ total }}">Todas</option>
              </select>
              <label>elementos</label>
            </div>
  
            <div class="pull-right">
              <input type="text" name="subConcepto" placeholder="subConcepto..." formControlName="subConcepto"
              [(ngModel)]="subConcepto" class="mr-2" />
<!-- 
              <input type="text" name="searchFechaIni" placeholder="searchFechaIni..." formControlName="searchFechaIni"
                [(ngModel)]="searchFechaIni" class="mr-2" />
  
              <input type="text" name="searchFechaFin" placeholder="searchFechaFin..." formControlName="searchFechaFin"
                [(ngModel)]="searchFechaFin" class="mr-2" /> -->
  
              <button (click)="exportToExcel()" class="btn btn-success btn-sm">
                <i class="far fa-file-excel"> Excel</i>
              </button>
            </div>
          </div>
          <!---->
        </form>
      </div>
  
      <div class="card table-responsive text-xs" #auditable>
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Id Lote</th>
              <th>Id Extraccion</th>
              <th>Fecha Registro Cartola</th>
              <th>Mes Cobertura Pims</th>
              <th>Concepto Pims</th>
              <th>SubConcepto Pims</th>
              <th>Codigo Error</th>
              <th>Descripción Error</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let trans of transacciones | filter : 'rejSubconceptopims' : subConcepto | filter : 'rejMescoberturapims' : searchFechaIni | filter : 'rejFecharegistrocar' : searchFechaFin | paginate: { itemsPerPage: filas, currentPage: p }">
  
              <td>{{trans.cloIdlote}}</td>
              <td>{{trans.cldIdextraccion }}</td>
              <td>{{trans.rejFecharegistrocar}}</td>
              <td>{{trans.rejMescoberturapims}}</td>
              <td>{{trans.rejConceptopims}}</td>
              <td>{{trans.rejSubconceptopims }}</td>
              <td>{{trans.rejRejecterrorcode}}</td>
              <td>{{trans.rejRejecterrortext}}</td>
            </tr>
          </tbody>
          <tfoot>
  
          </tfoot>
        </table>
  
        <div class="row justify-content-md-center">
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
          </pagination-controls>
        </div>
  
      </div>
    </div>
  </section>