<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-body card1">

        <form [formGroup]="">
          <div class="form-inline row h-100 justify-content-center align-items-center">
            <div class="col-md-2">
              <div class="form-group">
                <select class="form-control" placeholder="Compañía">
                  <option value="">Seleccione compañia...</option>
                  <option value="">Seleccione...</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" placeholder="Socio">
                  <option value="">Seleccione mes cobertura..</option>
                  <option value="">Seleccione...</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" placeholder="Socio">
                  <option value="">Seleccione socio...</option>
                  <option value="">Seleccione...</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <select class="form-control" placeholder="Socio">
                  <option value="">Seleccione...</option>
                  <option value="">Seleccione...</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-inline row h-100 justify-content-center align-items-center">
            <div class="col-md-2">
              <div class="form-group">
                <select class="form-control" placeholder="Socio">
                  <option value="">Seleccione...</option>
                  <option value="">Seleccione...</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" placeholder="Socio">
                  <option value="">Seleccione...</option>
                  <option value="">Seleccione...</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" placeholder="Socio">
                  <option value="">Seleccione...</option>
                  <option value="">Seleccione...</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <button class="btn btn-success" id="botonVerde" type="submit">
                <b>Buscar</b>
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

<!--  *******************segundo formulario***************************** -->

<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card text-xs">
      <div class="container">
        <form [formGroup]="" class="form-inline row h-100 justify-content-center align-items-center" id="secondbox">
          <div class="form-group col-md-1" id="mostrarelementos-label">
            <label>Mostrar elementos </label>
          </div>

          <div class="form-group col-md-1" id="mostrarelementos">
            <select class="form-inline form-control input-xs">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="100">100</option>
              <option value="">Todas</option>
            </select>
          </div>

          <div class="form-group col-md-2" id="compania">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="text" class="form-control" name="searchCompany" placeholder="Compañia..." />
          </div>

          <div class="form-group col-md-2" id="socio">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="text" class="input-xs" name="searchSocio" placeholder="Socio..." />
          </div>

          <div class="form-group col-md-1">
            <label for="inputsm" class="text-xs">Small input</label>
          </div>

          <div class="form-group col-md-1" id="small-imput">
            <input class="input-xs" id="inputsm" type="text" />
          </div>

          <div class="form-group col-md-2">
            <button class="btn btn-success" id="exportbutton">
              <b>Exportar Excel</b>
            </button>
          </div>

          <!--------------------------------->
        </form>
      </div>
    </div>
    <!--  ******************* fin segundo formulario***************************** -->
  </div>
</section>

<!--PRINCIPIO PRIMERA TABLA----------------------------------------------------------------------------------------->

<section class="content">
  <!-- Default box -->
  <div class="container-fluid" style="width: 98%; margin: auto;">
    <div class="card row h-100 justify-content-center align-items-center">
      <div class="col-sm-10" id="primeratabla">
        <table id="example" class="table table-striped table-bordered table-sm" style="width: 100%;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Thor Walton</td>
              <td>Developer</td>
              <td>New York</td>
              <td>61</td>
              <td>2013/08/11</td>
              <td>$98,540</td>
            </tr>
            <tr>
              <td>Finn Camacho</td>
              <td>Support Engineer</td>
              <td>San Francisco</td>
              <td>47</td>
              <td>2009/07/07</td>
              <td>$87,500</td>
            </tr>
            <tr>
              <td>Serge Baldwin</td>
              <td>Data Coordinator</td>
              <td>Singapore</td>
              <td>64</td>
              <td>2012/04/09</td>
              <td>$138,575</td>
            </tr>
            <tr>
              <td>Zenaida Frank</td>
              <td>Software Engineer</td>
              <td>New York</td>
              <td>63</td>
              <td>2010/01/04</td>
              <td>$125,250</td>
            </tr>
            <tr>
              <td>Zorita Serrano</td>
              <td>Software Engineer</td>
              <td>San Francisco</td>
              <td>56</td>
              <td>2012/06/01</td>
              <td>$115,000</td>
            </tr>
            <tr>
              <td>Jennifer Acosta</td>
              <td>Junior Javascript Developer</td>
              <td>Edinburgh</td>
              <td>43</td>
              <td>2013/02/01</td>
              <td>$75,650</td>
            </tr>
            <tr>
              <td>Cara Stevens</td>
              <td>Sales Assistant</td>
              <td>New York</td>
              <td>46</td>
              <td>2011/12/06</td>
              <td>$145,600</td>
            </tr>
            <tr>
              <td>Hermione Butler</td>
              <td>Regional Director</td>
              <td>London</td>
              <td>47</td>
              <td>2011/03/21</td>
              <td>$356,250</td>
            </tr>
            <tr>
              <td>Lael Greer</td>
              <td>Systems Administrator</td>
              <td>London</td>
              <td>21</td>
              <td>2009/02/27</td>
              <td>$103,500</td>
            </tr>
          </tbody>

          <tfoot></tfoot>
        </table>

        <div class="row justify-content-md-center" id="flechas">
          <label>Anterior</label>

          <label>1</label>
          <label>2</label>
          <label>3</label>

          <label>Siguiente</label>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TABLE: OTRO EXAMPLE DE TABLA --------------------------------------------------------------------------->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div id="accordion" style="width: 98%; margin: auto;">
        <div class="card card2">
          <div class="card-header titulotabla2" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" id="boton3" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <b>
                  OTRO EXAMPLE DE TABLA - si puedes darle estilo a esta tabla
                  por si acaso necesitamos
                </b>
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body row h-100 justify-content-center align-items-center">
              <div class="table-responsive" style="width: 90%;">
                <table class="table no-margin table-sm">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Item</th>
                      <th>Status</th>
                      <th>Popularity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <button class="btn btn-link " id="boton" data-toggle="collapse" data-target="#fileOne" aria-expanded="false" >
                          <b> OR4323test </b>
                        </button>
                        <div id="fileOne" class="collapse" aria-labelledby="fOne" >
                          funciono....
                        </div>
                      </td>
                      <td>Call of Duty IV</td>
                      <td><span class="label label-success">Shipped</span></td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                          90,80,90,-70,61,-83,63
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR1848</a></td>
                      <td>Samsung Smart TV</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td>
                        <div class="sparkbar" data-color="#f39c12" data-height="20">
                          90,80,-90,70,61,-83,68
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>iPhone 6 Plus</td>
                      <td><span class="label label-danger">Delivered</span></td>
                      <td>
                        <div class="sparkbar" data-color="#f56954" data-height="20">
                          90,-80,90,70,-61,83,63
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>Samsung Smart TV</td>
                      <td><span class="label label-info">Processing</span></td>
                      <td>
                        <div class="sparkbar" data-color="#00c0ef" data-height="20">
                          90,80,-90,70,-61,83,63
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR1848</a></td>
                      <td>Samsung Smart TV</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td>
                        <div class="sparkbar" data-color="#f39c12" data-height="20">
                          90,80,-90,70,61,-83,68
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>iPhone 6 Plus</td>
                      <td><span class="label label-danger">Delivered</span></td>
                      <td>
                        <div class="sparkbar" data-color="#f56954" data-height="20">
                          90,-80,90,70,-61,83,63
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR9842</a></td>
                      <td>Call of Duty IV</td>
                      <td><span class="label label-success">Shipped</span></td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                          90,80,90,-70,61,-83,63
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!---->
                <div class="box-footer clearfix">
                  <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                  <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                </div>
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Collapsable</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    The body of the card
  </div>
  <!-- /.card-body -->
</div>