/*
.input-xs {
  height: 25px!important;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
*/

/*------------------------------------------------------------*/
/*primer formulario*/

div.card-body.card1 {
 // background-color: #00965e;
  border-radius: 3px;
}
  select.form-control {
    color: rgb(94, 93, 93); /*letra*/
    margin-top: 5px;
    margin-left: auto;
    width: 100%;
    height: 35px;
  }

  /*boton buscar*/
  #searchbutton {
    color: #00965e;
    background-color: rgb(206, 206, 206);
    margin-top: 5px;
    width: 100%;
    height: 35px;
  }

  #botonVerde{
    color: white !important;
    background-color: #00965e;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }


/*------------------------------------------------------------*/
/*segundo formulario*/

select.form-control.input-xs {
  color: green;
  width: 100%;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

#mostrarelementos-label.form-group.col-md-1 > label {
  color: rgb(94, 93, 93) !important; /*letra*/
  font-size: 13px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

/*compañia-socio, usar id si se quiere personalizar algo mas*/
input.form-control {
  width: 100%;
  height: auto;
}

/*small-imput completo-*/
input#inputsm.form-control.input-xs {
  color: green;
  width: 100%;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

label.text-xs {
  color: rgb(94, 93, 93); /*letra*/
  font-size: 13px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
#small-imput {
  height: auto;
}

/*boton export to excel*/
#exportbutton {
  color: white !important;
  background-color: #00965e;
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*------------------------------------------------------------*/
/*primera tabla */
#primeratabla {
  margin-top: 20px;
}

#flechas {
  text-indent: 2em;

  label {
    color: rgb(94, 93, 93); /*letra*/
  }

  label:hover {
    color: #00965e;
  }
}

/*------------------------------------------------------------*/
/*segunda tabla */

div.card.card2 {
  button.btn,
  #boton3 {
    color: #00965e !important;
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  a {
    color: rgb(94, 93, 93); /*letra*/
  }

  a:link {
    color: #00965e;
    text-align: center;
  }

  td {
    color: rgb(94, 93, 93); /*letra*/
    text-align: center;
  }

  th {
    color: rgb(94, 93, 93); /*letra*/
    text-align: center;
  }

  div#headingOne.card-header {
    margin: auto;
  }

  div#headingOne.card-header.titulotabla2 {
    margin: auto;
    width: 100%;
    background: white;
    border: none;
  }

  a.btn.btn-sm.btn-info.btn-flat.pull-left {
    color: white;
    background-color: #00965e;
  }

  a.btn.btn-sm.btn-default.btn-flat.pull-right {
    color: white;
    background-color: #00965e;
  }
}
