.fa-bars {
  cursor: pointer;
}

.fa-bars:hover{
color:#00965e;
}

.nav-item {
  .nav-link {
    cursor: pointer;
  }
}

.nav-item:hover {
  .nav-link {
    cursor: pointer;
    color:#00965e;
  }
}

/*nombre usuario*/
p{
color:rgb(126, 125, 125);
padding-top:8px;
padding-right:15px;
}

p:hover{
  color:#00965e;
  padding-top:8px;
  padding-right:15px;
  }

  .titulo {
    color: #227D52;
  }