<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenuSidebar.emit()"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <!-- <a [routerLink]="['/']" class="nav-link">Secciones</a> -->
      <a class="nav-link">Secciones</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <p class="titulo">Bienvenido <b>{{ nombreUsuario }}</b></p>
      <li class="nav-item">
        <button type="button" class="btn btn-success" (click)="logout()" title="Cerrar Sesion"><i class="fas fa-power-off"></i></button>
        <!-- <a class="nav-link" (click)="logout()" >
          <i class="fas fa-power-off"></i>
        </a> -->
      </li>
  </ul>
</nav>
<!-- /.navbar -->
