<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Reporte de Facturacion</h1>
      </div>
      <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!--  *********  FILTROS *************************************** -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <app-filtros (listarFacturaciones)="listarFiles()" [callFiles]="true" [callAgrupacion]="false"></app-filtros>
  </div>
</div>
<!--  ********  FIN FILTROS **************************************** -->

<div class="container-fluid">

  <!-- <form [formGroup]="busquedaForm" class="form-inline">

    <div class="form-group mr-2">
      <label class="sr-only" for="inputPassword">Buscar</label>
      <input type="text" class="input-xs" name="searchFile" placeholder="Buscar..." formControlName="searchFile"
        [(ngModel)]="searchFile" />
    </div>

  </form> -->

  <div class="card text-xs">
    <form [formGroup]="busquedaForm">
      <!---->
      <div class="box-footer clearfix">
        <div class="pull-left">
          <label>Mostrar</label>
          <select (change)="selectChangeHandler($event)" class="input-xs" style="width: 65px;">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="25">25</option>
            <option value="100">100</option>
            <option value="{{ total }}">Todas</option>
          </select>
          <label>elementos</label>
        </div>

        <div class="pull-right">
          <input type="text" class="input-xs" name="searchFile" placeholder="Buscar..." formControlName="searchFile"
          [(ngModel)]="searchFile" />


          <!-- <button (click)="exportToExcel()" class="btn btn-success btn-sm">
            <i class="far fa-file-excel"> Excel</i>
          </button> -->
        </div>
      </div>
      <!---->
    </form>
  </div>

  <!--  ********************** -->
  <div class="row" #auditable>
    <div class="col-sm-4" *ngFor="let file of archivos | filter : 'nombre' : searchFile">

      <div class="card card-success">
        <div class="card-header">
          <h4 class="card-title"> {{file.nombre}} </h4>
          <div class="card-tools">

            <a  class="btn btn-tool" title="descargar" [href]="sanitizar(file.url)" download>
              <i class="fas fa-download"></i>
            </a>
            <!-- Collapse Button -->
            <button type="button" class="btn btn-tool" data-toggle="collapse" attr.data-target="#test{{file.id}}"
              aria-expanded="true" attr.aria-controls="test{{file.id}}">
              <i class="fas fa-minus"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body collapse" id="test{{file.id}}">

          <table class="table table-sm">
            <thead>
              <th>SubConcepto</th>
              <th>Socio</th>
              <th>Compania</th>
              <th>Concepto</th>
            </thead>
            <tbody>
              <tr *ngFor="let f of file.agrupacion ">
                <td>{{f.subConcepto}}</td>
                <td>{{f.socio}}</td>
                <td>{{f.compania}}</td>
                <td>{{f.concepto}}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- /.card-body -->
      </div>

    </div>

  </div>

  <div class="row justify-content-md-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
    </pagination-controls>
  </div>

</div>

<br />
