.scroll {
  // max-height: 100px;
  overflow-y: auto;
  scrollbar-color: yellow #800080;
}

div.card-body.card1 {
  background-color: #00965e;
  border-radius: 3px;

  select.form-control {
    color: rgb(94, 93, 93);
    margin-top: 5px;
    margin-left: auto;
    width: 100%;
    height: 35px;
  }

  /*boton buscar*/
  #searchbutton {
    color: #00965e;
    background-color: rgb(206, 206, 206);
    margin-top: 5px;
    width: 100%;
    height: 35px;
  }
}

/*compañia-socio, usar id si se quiere personalizar algo mas*/
input.form-control {
  width: 100%;
  height: auto;
}

.padre {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.campos {
  display: flex;
  flex-wrap: wrap;
}

select,
input {
  width: 160px;
}

.estilo {
  border-radius: 3px;
  border-style: solid;
  border-color: #00965e;
}


.padre2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item{
  flex-grow: 5; 
}

.item2{
   align-self: flex-end;
}