<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Devoluciones</h1>
      </div>
      <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<ngx-spinner [visible]="spinner" [config]="spinnerConfig"></ngx-spinner>
<!--  *********  FILTROS *************************************** -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <div class="card-body">

    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body estilo">

            <form [formGroup]="filtroForm">

              <!-- <div class="form-inline justify-content-center box-footer clearfix" > -->
              <div class="padre justify-content-center">
                <div class="campos">

                  <div class="form-group">
                    <select class="input-xs mr-2" placeholder="Portal Bancario" formControlName="portalBancario">
                      <option value="" selected>Portal Bancario</option>
                      <option value="santander">Banco Santander</option>
                      <option value="itau">Banco Itau</option>
                      <option value="estado">Banco Estado</option>
                    </select>
                  </div>
                  <div
                    *ngIf="filtroForm.get('portalBancario').invalid && (filtroForm.get('portalBancario').touched || filtroForm.get('portalBancario').dirty)">
                    <small class="text-danger">Portal Bancario es requerido</small>
                  </div>


                  <div class="form-group">
                    <select class="input-xs mr-2" placeholder="Socio" formControlName="socio">
                      <option value="">Socio</option>
                      <option *ngFor="let socio of sociosPago;" value={{socio}}>
                        {{socio}}
                      </option>
                    </select>
                  </div>
                  <div
                    *ngIf="filtroForm.get('socio').invalid && (filtroForm.get('socio').touched || filtroForm.get('socio').dirty)">
                    <small class="text-danger">Socio es requerido</small>
                  </div>


                  <div class="form-group">
                    <select class="input-xs mr-2" placeholder="Compañía" formControlName="compania">
                      <option value="" selected>Compañia</option>
                      <option *ngFor="let compania of companias;" value={{compania.value}}>
                        {{compania.name}}
                      </option>
                    </select>
                  </div>
                  <div
                    *ngIf="filtroForm.get('compania').invalid && (filtroForm.get('compania').touched || filtroForm.get('compania').dirty)">
                    <small class="text-danger">Compañia es requerido</small>
                  </div>

                  <div class="form-group">
                    <select class="input-xs mr-2" placeholder="Medio de Pago" formControlName="medioPago">
                      <option value="">Medio de Pago</option>
                      <option value="A">Abono</option>
                      <option value="V">Vale Vista</option>
                      <option value="C">Cheque</option>
                      <!-- <option *ngFor="let medioPago of mediosPago" value="{{ medioPago.value }}">
                          {{ medioPago.name }}
                        </option> -->
                    </select>
                  </div>

                  <div class="form-group">
                    <select class="input-xs mr-2" placeholder="Pagar a" formControlName="pagara">
                      <option value="">Pagar a</option>
                      <option value="ASEGURADO">Asegurado</option>
                      <option value="SOCIO">Socio</option>
                      <!-- <option *ngFor="let medioPago of mediosPago" value="{{ medioPago.value }}">
                          {{ medioPago.name }}
                        </option> -->
                    </select>
                  </div>

                  <!-- <div class="form-group" *ngIf="poliza">
                        <input type="text" class="input-xs mr-2" formControlName="poliza" placeholder="Poliza" >
                    </div> -->

                </div>

                <!-- BOTONES -->

                <div>
                  <button type="submit" class="btn btn-success btn-sm" (click)="listarPagos()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <!-- FIN BOTONES -->

              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

  </div>
</div>
<!--  ********  FIN FILTROS **************************************** -->

<section>
  <div class="container-fluid">

    <div class="card text-xs">
      <form [formGroup]="busquedaForm">
        <!---->
        <div class="box-footer clearfix padre2">
          <div class="pull-left">
            <label>Mostrar</label>
            <select (change)="selectChangeHandler($event)" class="input-xs" style="width: 65px;">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="100">100</option>
              <option value="{{ total }}">Todas</option>
            </select>
            <label>elementos</label>
          </div>

          <div class="item text-center">
            <span class="description-text">TOTAL</span>
            <h5 class="description-header">{{sumatoria | number:'1.0-0':'es'}}</h5>
          </div>

          <div class="pull-right item2" style="width: auto">

            <input type="text" name="idAgrupacion" placeholder="idAgrupacion..." formControlName="idAgrupacion"
              [(ngModel)]="idAgrupacion" class="mr-2" />

            <input type="text" name="montoPago" placeholder="montoPago..." formControlName="montoPago"
              [(ngModel)]="montoPago" class="mr-2" />

            <input type="text" name="beneficiario" placeholder="beneficiario..." formControlName="beneficiario"
              [(ngModel)]="beneficiario" class="mr-2" />

            <input type="text" name="rut" placeholder="rut beneficiario.." formControlName="rut" [(ngModel)]="rut"
              class="mr-2" />


            <button (click)="exportToExcel()" class="btn btn-success btn-sm">
              <i class="far fa-file-excel"> Excel</i>
            </button>
            <button (click)="generarNomina()" class="btn btn-info btn-sm">
              <i class="far fa-file-excel"> Nominas</i>
            </button>
            <button type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;" title="Carta1"
              (click)="getCarta1Detalles()" data-toggle="modal" data-target="#ModalCarta1">
              <i class="far fa-file">Carta1</i>
            </button>
            <button type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;" title="Carta2"
              (click)="getCarta2Detalles()" data-toggle="modal" data-target="#ModalCarta2">
              <i class="far fa-file-alt">Carta2</i>
            </button>            
            <!-- <a *ngIf="ruta" class="btn btn-tool" title="descargar" [href]="sanitizar(ruta)" download>
                <i class="fas fa-download"></i>
              </a> -->
          </div>
        </div>
        <!---->
      </form>
    </div>

    <div class="card table-responsive text-xs" #SinTitulo>
      <table class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
          <tr>
            <!-- <th> Id                     </th> -->
            <th> Id Agrupacion </th>
            <th> Id Contabilizacion </th>
            <th> Rut Empresa </th>
            <!-- <th> Tipo Servicio           </th>
                <th> Tipo Cuenta Cargo        </th>
                <th> Nº Cuenta Cargo         </th>
                <th> Descripción Pago        </th> -->
            <th> Rut Beneficiario </th>
            <th> Nombre Beneficiario </th>
            <!-- <th> Email Beneficiario      </th> -->
            <th> Método Pago </th>
            <th> Código Banco Abono </th>
            <!-- <th> Tipo Cuenta Abono        </th> -->
            <th> Num Cuenta Abono </th>
            <th> Fecha Pago </th>
            <!-- <th> Campo banco1            </th>
                <th> Campo banco2            </th> -->
            <th> Monto Pago </th>
            <!-- <th> Tipo Cuenta Cargo Detalle     </th>
                <th> Numero Cuenta Cargo Detalle      </th>
                <th> Codigo Sucursal         </th>
                <th> Referencia Cliente      </th>
                <th> Retencion Factura       </th>
                <th> Abono Vale Vista Linea   </th>
                <th> Cantidad Documentos     </th>
                <th> Tipo Rendicion      </th> 
                <th> Tipo Pago           </th> 
                <th> Numero Documento    </th> 
                <th> Monto Documento     </th>  -->
            <th> Numero Operacion </th>
            <th> Fecha Prep Renu </th>
            <th> Tipo Operacion </th>
            <!-- <th> Comuna             </th> 
                <th> Ciudad             </th> 
                <th> Poliza             </th>  -->
            <th> Forma Pago </th>
            <!-- <th> Estado             </th> 
                <th> Fecha Proceso       </th>  -->
            <th> Compañia </th>
            <th>
              <input type="checkbox" style="width: 15px;" [(ngModel)]="masterSelected" name="list_name" value="m1"
                (change)="checkUncheckAll()" />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let devolucion of devoluciones  | filter: 'panRutbeneficiario' : rut | filter : 'panNombrebeneficiario' : beneficiario  | filter : 'panIdagrupacion' : idAgrupacion | filter : 'panMontopago' : montoPago | paginate: { itemsPerPage: filas, currentPage: p }">

            <!-- <td> {{ devolucion.panId                    }}</td> -->
            <td> {{ devolucion.panIdagrupacion        }}</td>
            <td> {{ devolucion.panIdcontabilizacion   }}</td>
            <td> {{ devolucion.panRutempresa      	    }}</td>
            <!-- <td> {{ devolucion.panTiposervicio          }}</td>
              <td> {{ devolucion.panTipocuentacargo       }}</td>
              <td> {{ devolucion.panNumcuentacargo        }}</td>
              <td> {{ devolucion.panDescripcionpago        }}</td> -->
            <td> {{ devolucion.panRutbeneficiario       }}</td>
            <td> {{ devolucion.panNombrebeneficiario    }}</td>
            <!-- <td> {{ devolucion.panEmailbeneficiario     }}</td> -->
            <td> {{ devolucion.panMetodopago             }}</td>
            <td> {{ devolucion.panCodigobancoabono       }}</td>
            <!-- <td> {{ devolucion.panTipocuentaabono       }}</td> -->
            <td> {{ devolucion.panNumcuentaabono        }}</td>
            <td> {{ devolucion.panFechapago             }}</td>
            <!-- <td> {{ devolucion.panCampobanco1           }}</td>
              <td> {{ devolucion.panCampobanco2           }}</td> -->
            <td> {{ devolucion.panMontopago             }}</td>
            <!-- <td> {{ devolucion.panTipocuentacargodet    }}</td>
              <td> {{ devolucion.panNumcuentacargodet     }}</td>
              <td> {{ devolucion.panCodigosucursal        }}</td>
              <td> {{ devolucion.panReferenciacliente     }}</td>
              <td> {{ devolucion.panRetencionfactura      }}</td>
              <td> {{ devolucion.panAbonovalesvistalinea  }}</td>
              <td> {{ devolucion.panCantidaddocumentos    }}</td>
              <td> {{ devolucion.panTiporendicion       }}</td>
              <td> {{ devolucion.panTipopago            }}</td>
              <td> {{ devolucion.panNumerodocumento     }}</td>
              <td> {{ devolucion.panMontodocumento      }}</td> -->
            <td> {{ devolucion.panNumerooperacion     }}</td>
            <td> {{ devolucion.panFechapreprenun      }}</td>
            <td> {{ devolucion.panTipooperacion       }}</td>
            <!-- <td> {{ devolucion.panComuna              }}</td>
              <td> {{ devolucion.panCiudad              }}</td>
              <td> {{ devolucion.panPoliza              }}</td> -->
            <td> {{ devolucion.panFormapago           }}</td>
            <!-- <td> {{ devolucion.panEstado              }}</td>
              <td> {{ devolucion.panFechaproceso        }}</td> -->
            <td> {{ devolucion.panCompania         }}</td>
            <td>
              <input type="checkbox" style="width: 15px;" [(ngModel)]="devolucion.isSelected" name="list_name"
                (change)="isAllSelected()" value="{{devolucion.panId}}" />
            </td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

      <div class="row justify-content-md-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
        </pagination-controls>
      </div>

    </div>

    <!-- <div class="col-md-6">
        <code>{{checkedList}}</code>
    </div> -->

  </div>
</section>


<!-- MODAL PARA CARTA 1 -->
<div class="modal fade" id="ModalCarta1" tabindex="-1" role="dialog" aria-labelledby="ModalCarta1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCarta1">Ref: Dev. de Prima</h5>
        <button (click)="exportToExcelCarta1()" class="btn btn-success btn-sm">
          <i class="far fa-file-excel"> Excel</i>
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="card table-responsive text-xs" #carta1>
          <table>
            <tbody>
              <tr>
                <td>Detalle de pago:</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped table-bordered table-sm" style="width:100%">
            <thead>
              <tr>
                <th>Descripcion</th>
                <th>Nº Requerimiento</th>
                <th>Beneficiario</th>
                <th>Nº Egreso</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cd of cartaDetalle; let i=index">
                <td>{{cd.panSocio}}</td>
                <td>{{cd.panNorequerimiento}}</td>
                <td>{{cd.panRutempresa}} {{cd.panSocio}}</td>
                <td>{{cd.panIdsolicitudegreso}}</td>
                <td>{{cd.total}}</td>
              </tr>
              <!-- <div *ngFor="let cd of cartaDetalle; let j=index">
                <div *ngFor="let item of nrequer">
                  <tr ng-repeat-while="item !== cd.panNorequerimiento">
                    <td>Repeated: {{j}} {{item}}!</td>
                  </tr>
                </div>
              </div> -->

            </tbody>
          </table>

          <table>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          

          <table class="table table-striped table-bordered table-sm" style="width:100%">
            <thead>
              <tr>
                <th>Nº Requerimiento</th>
                <th>Fecha requerimiento</th>
                <th>Rut Pagador</th>
                <th>Nombre Pagador</th>
                <th>Monto Devolucion</th>
                <th>Nombre Producto</th>
                <th>Nº Egreso</th>
                <th>Nombre Socio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carta of cartaContent; let i=index">
                <td>{{carta.panNorequerimiento}}</td>
                <td>{{carta.panFecrequer}}</td>
                <td>{{carta.panRutbeneficiario}}</td>
                <td>{{carta.panNombrebeneficiario}}</td>
                <td>{{carta.panMontopago}}</td>
                <td>{{carta.panProducto}}</td>
                <td>{{carta.panIdsolicitudegreso}}</td>
                <td>{{carta.panSocio}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button (click)="exportToExcelCarta1()" class="btn btn-success btn-sm">
          <i class="far fa-file-excel"> Excel</i>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- MODAL PARA CARTA 2 -->
<div class="modal fade" id="ModalCarta2" tabindex="-1" role="dialog" aria-labelledby="ModalCarta2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCarta2">Ref: Dev. Pago de Prima</h5>
        <button (click)="exportToExcelCarta2()" class="btn btn-success btn-sm">
          <i class="far fa-file-excel"> Excel</i>
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="card table-responsive text-xs" #carta2>
          <table>
            <tbody>
              <tr>
                <td>Detalle de pago:</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped table-bordered table-sm" style="width:100%">
            <thead>
              <tr>
                <th>Descripcion</th>
                <th>Compañia</th>
                <th>Beneficiario</th>
                <th>Nº Egreso</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cd of carta2Detalle; let i=index">
                <td>{{cd.panSocio}}</td>
                <td>{{cd.panCompania}}</td>
                <td>{{cd.panRutempresa}} {{cd.panSocio}}</td>
                <td>{{cd.panIdsolicitudegreso}}</td>
                <td>{{cd.total}}</td>
              </tr>
              <!-- <div *ngFor="let cd of cartaDetalle; let j=index">
                <div *ngFor="let item of nrequer">
                  <tr ng-repeat-while="item !== cd.panNorequerimiento">
                    <td>Repeated: {{j}} {{item}}!</td>
                  </tr>
                </div>
              </div> -->

            </tbody>
          </table>

          <table>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped table-bordered table-sm" style="width:100%">
            <thead>
              <tr>
                <th>Nombre Socio</th>
                <th>Rut Pagador</th>
                <th>Nombre Pagador</th>
                <th>Monto Devolucion</th>
                <th>Nombre Producto</th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carta of carta2Content; let i=index">
                <td>{{carta.panSocio}}</td>
                <td>{{carta.panRutbeneficiario}}</td>
                <td>{{carta.panNombrebeneficiario}}</td>
                <td>{{carta.panMontopago}}</td>
                <td>{{carta.panProducto}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button (click)="exportToExcelCarta2()" class="btn btn-success btn-sm">
          <i class="far fa-file-excel"> Excel</i>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>