.login-page, .register-page {
    background-image: url(/assets/img/Shutterstock-Businessman-Close-Up_3.png) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
    opacity: 90% !important;
}