<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Reporte de Gastos</h1>
      </div>
      <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!--  *********  FILTROS *************************************** -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- filtro component -->
    <app-fechas (listarGastos)='listarGastos($event)' [subconcepto]="false" [estado]="false" [flujo]="false"
      [callGastos]="true" [listaEstado]="listarEstados">
    </app-fechas>
  </div>
</div>
<!--  ********  FIN FILTROS **************************************** -->

<section>
  <div class="container-fluid">

    <div class="card text-xs">
      <form [formGroup]="busquedaForm">
        <!---->
        <div class="box-footer clearfix">
          <div class="pull-left">
            <label>Mostrar</label>
            <select (change)="selectChangeHandler($event)" class="input-xs" style="width: 65px;">
              <option value="5">5</option>
              <option value="10" selected>10</option>
              <option value="25">25</option>
              <option value="100">100</option>
              <option value="{{ total }}">Todas</option>
            </select>
            <label>elementos</label>
          </div>

          <div class="pull-right">
            <!-- <input type="text" name="mescobertura" placeholder="mescobertura..." formControlName="mescobertura"
              [(ngModel)]="mescobertura" class="mr-2" /> -->

            <input type="text" name="compania" placeholder="compania..." formControlName="compania"
              [(ngModel)]="compania" class="mr-2" />

            <input type="text" name="socio" placeholder="socio..." formControlName="socio"
              [(ngModel)]="socio" class="mr-2" />

            <input type="text" name="concepto" placeholder="concepto..." formControlName="concepto"
              [(ngModel)]="concepto" class="mr-2" />

            <input type="text" name="subconcepto" placeholder="subconcepto..." formControlName="subconcepto"
              [(ngModel)]="subconcepto" class="mr-2" />

            <button (click)="exportToExcel()" class="btn btn-success btn-sm">
              <i class="far fa-file-excel"> Excel</i>
            </button>
          </div>
        </div>
        <!---->
      </form>
    </div>

    <div class="card table-responsive text-xs" #gastotable>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th> SubConcepto</th>
            <th> Operatoria</th>
            <th> Compañia</th>
            <th> Socio</th>
            <th> Poliza</th>
            <th> Concepto</th>
            <th> Id Producto</th>
            <th> Mes Cobertura</th>
            <th> Prima Asociada</th>
            <th> Monto Final</th>
            <th> Porcentaje</th>
            <th> Usuario </th>
            <th> Fecha Carga </th>
            <th> Cantidad Registros </th>
            <th> Nombre Archivo </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let gasto of allGastos | filter : 'compania' : compania | filter : 'socio' : socio | filter : 'concepto' : concepto | filter : 'subconcepto' : subconcepto | paginate: { itemsPerPage: filas, currentPage: p } ">
            <td> <span> {{ gasto.subconcepto   }}</span> </td>
            <td> <span> {{ gasto.operatoria    }}</span> </td>
            <td> <span> {{ gasto.compania      }}</span> </td>
            <td> <span> {{ gasto.socio         }}</span> </td>
            <td> <span> {{ gasto.policy        }}</span> </td>
            <td> <span> {{ gasto.concepto      }}</span> </td>
            <td> <span> {{ gasto.idPrdt        }}</span> </td>
            <td> <span> {{ gasto.mesCobertura  }}</span> </td>
            <td> <span> {{ gasto.primaAsociada }}</span> </td>
            <td> <span> {{ gasto.montoFinal    }}</span> </td>
            <td> <span> {{ gasto.porcentaje    }}</span> </td>
            <td> <span> {{ gasto.usuario       }}</span> </td>
            <td> <span> {{ gasto.fechaCargArch      }}</span> </td>
            <td> <span> {{ gasto.cantidadRegistros  }}</span> </td>
            <td> <span> {{ gasto.nombreArchivo      }}</span> </td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

      <div class="row justify-content-md-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
        </pagination-controls>
      </div>

    </div>
  </div>
</section>