<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Cartola</h1>
      </div>
      <!-- /.col -->
      <!-- <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/main']">Menu</a></li>
          <li class="breadcrumb-item active">Dashboard v1</li>
        </ol>
      </div> -->
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-2 col-6 col-sm-12">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h4>Contabilizacion Manual</h4>
            <p>Solo cuando la automatización automatica ha fallado.</p>
          </div>
          <div class="icon">
            <i class="fas fa-file-contract"></i>
          </div>
          <a [routerLink]="['/main/contaManual']" class="small-box-footer">Iniciar operación <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-6 col-sm-12">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h4>Conciliación</h4>
            <p>Desde aqui se efectuan las diferentes conciliaciones.</p>
          </div>
          <div class="icon">
            <i class="fas fa-file-contract"></i>
          </div>
          <a [routerLink]="['/main/conciliacion']" class="small-box-footer">Iniciar operación <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-6 col-sm-12">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h4>Socios</h4>
            <p>Administración de socios</p>
          </div>
          <div class="icon">
            <i class="far fa-building"></i>
          </div>
          <a [routerLink]="['/main/socio']" class="small-box-footer">Iniciar operación <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-6 col-sm-12">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h4>Entidades</h4>
            <p>Administración de entidades</p>
          </div>
          <div class="icon">
            <i class="far fa-edit"></i>
          </div>
          <a [routerLink]="['/main/entidad']" class="small-box-footer">Iniciar operación <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-2 col-6 col-sm-12">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h4>Cargar Gastos</h4>
            <p>Para cargar los gastos a ser utilizados en la conciliacion.</p>
          </div>
          <div class="icon">
            <i class="fas fa-file-contract"></i>
          </div>
          <a [routerLink]="['/main/gastos']" class="small-box-footer">Iniciar operación <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <!-- small box -->
      <div class="col-lg-2 col-6 col-sm-12">
        <div class="small-box bg-danger">
          <div class="inner">
            <h4>Flujo de Aprobación</h4>
            <p>
              Detalle de las Conciliaciones. Desde aqui es posible Aprobar y/o Reversar conciliaciones.
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-file-signature"></i>
          </div>
          <a [routerLink]="['/main/flujoAprobacion']" class="small-box-footer ">Iniciar operación <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- /.row -->


    <br />
    <div>
      <h2 class="m-0 text-dark">Reportes</h2>
      <hr />
    </div>
    <div class="row">
      <!-- small box -->
      <div class="col-lg-2 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h4>Agrupaciones</h4>
            <p>
              Información de las Agrupaciones y sus estados correspondientes.
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-file-signature"></i>
          </div>
          <a [routerLink]="['/main/reportAgrupaciones']" class="small-box-footer ">Iniciar reporte <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- small box -->
      <div class="col-lg-2 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h4>Gastos</h4>
            <p>
              Información de los gastos conciliados.
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-file-signature"></i>
          </div>
          <a [routerLink]="['/main/reportGastos']" class="small-box-footer ">Iniciar reporte <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- small box -->
      <div class="col-lg-2 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h4>Facturación</h4>
            <p>
              Información de los archivos ...
            </p><br>
          </div>
          <div class="icon">
            <i class="fas fa-file-signature"></i>
          </div>
          <a [routerLink]="['/main/reportFacturacion']" class="small-box-footer ">Iniciar reporte <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- small box -->
      <div class="col-lg-2 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h4>Auditoría</h4>
            <p>
              Información de la actividad realizada por los usuarios...
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-file-signature"></i>
          </div>
          <a [routerLink]="['/main/reportAuditoria']" class="small-box-footer ">Iniciar reporte <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>     
      <!-- small box -->
      <div class="col-lg-2 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h4>Transacciones</h4>
            <p>
              Información de las transacciones realizada por Cartola.
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-file-signature"></i>
          </div>
          <a [routerLink]="['/main/reportTransaccion']" class="small-box-footer ">Iniciar reporte <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>       
       

    </div>

  </div>
  <!-- Main row -->
</section>
<!-- /.content -->