hr { display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;}

// hr {width: 300px;margin-left: auto;margin-right: auto;height: 100px;background-color:#666;opcaity: 0.5;}

// hr {width: 90%;height: 8px;margin-left: auto;margin-right: auto;background-color:#666;border: 0 none;margin-top: 10px;margin-bottom:10px;}

// .five-star-line { height: 20px; background-image: url(img/5-star-rating.png); background-repeat: repeat-x; background-position: center; background-color: transparent; border: none; width: 50%; margin: auto; margin-top: 5%; margin-bottom: 5%; }

.striped-border { border: 2px dashed #000; width: 100%; margin: auto; margin-top: 0px; margin-bottom: 0px; }

.titulo {
    display: flex;
    flex-direction: row;
}

.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}

// .padre{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-start ;
//   }
  
//   .item{
//     width: 16em;
//     margin: 10px;
//   }