<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="titulo">Reporte de Auditoria</h1>
      </div>
      <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!--  *********  FILTROS *************************************** -->
<div class="card card-success">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- filtro component -->
    <app-fechas (listarAuditorias)='listarAuditoriaRango($event)' [subconcepto]="false" [estado]="false" [callAuditoria]="true" [listaEstado]="listarEstados">
    </app-fechas>
  </div>
</div>
<!--  ********  FIN FILTROS **************************************** -->

<section>
  <div class="container-fluid">

    <div class="card text-xs">
      <form [formGroup]="busquedaForm">
        <!---->
        <div class="box-footer clearfix">
          <div class="pull-left">
            <label>Mostrar</label>
            <select (change)="selectChangeHandler($event)" class="input-xs" style="width: 65px;">
              <option value="5">5</option>
              <option value="10" selected>10</option>
              <option value="25">25</option>
              <option value="100">100</option>
              <option value="{{ total }}">Todas</option>
            </select>
            <label>elementos</label>
          </div>

          <div class="pull-right">
            <input type="text" name="flujo" placeholder="flujo..." formControlName="flujo"
            [(ngModel)]="flujo" class="mr-2" />

            <input type="text" name="estatus" placeholder="estatus..." formControlName="estatus"
            [(ngModel)]="estatus" class="mr-2" />

<!--             <input type="text" name="searchFechaIni" placeholder="searchFechaIni..." formControlName="searchFechaIni"
              [(ngModel)]="searchFechaIni" class="mr-2" />

            <input type="text" name="searchFechaFin" placeholder="searchFechaFin..." formControlName="searchFechaFin"
              [(ngModel)]="searchFechaFin" class="mr-2" /> -->

            <button (click)="exportToExcel()" class="btn btn-success btn-sm">
              <i class="far fa-file-excel"> Excel</i>
            </button>
          </div>
        </div>
        <!---->
      </form>
    </div>

    <div class="card table-responsive text-xs" #auditable>
        <table class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
          <tr>
            <th>Id Lote </th>
            <th>Fecha Inicio </th>
            <th>Flujo </th>
            <th>Secuencia </th>
            <th>Job </th>
            <th>Fecha Fin </th>
            <th>Estatus </th>
            <th>Observacion </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let auditoria of auditorias | filter: 'audEstatus' : estatus | filter : 'audFlujo' : flujo  | paginate: { itemsPerPage: filas, currentPage: p }">

            <td>{{auditoria.cloIdLote}}</td>
            <!-- <td>{{auditoria.audFechaIni | date:'yyyy-MM-dd hh:mm:ss'}}</td> -->
            <td>{{auditoria.audFechaIni}}</td>
            <td>{{auditoria.audFlujo}}</td>
            <td>{{auditoria.audNombreSeq}}</td>
            <td>{{auditoria.audNombreJob}}</td>
            <!-- <td>{{auditoria.audFechaFin | date:'yyyy-MM-dd hh:mm:ss'}}</td> -->
            <td>{{auditoria.audFechaFin}}</td>
            <td>{{auditoria.audEstatus}}</td>
            <td>{{auditoria.audObservacion}}</td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

      <div class="row justify-content-md-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" itemsPerPage="5">
        </pagination-controls>
      </div>

    </div>
  </div>
</section>