
<!-- <div class="content-header">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <h1 style="margin-left: 20px;"> Conciliación</h1>
          </div>
      </div>
  </div>
</div> -->


<div class="content-header">
    <div class="container-fluid">
        <div class="row">
  
            <div class="col-sm-6">
                <h1 style="margin-left: 20px;">
                    <!--aqui se puede agregar un texto-->
                </h1>
  
                <!--primera columna---------------------------------------------------------->
  
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- Small boxes (Stat box) -->
                        <div class="row h-100 justify-content-center align-items-center">
  
                            <div id="accordion" style="width: 96%;">
                                <div *ngIf="Primaconciliacion.length > 0" class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapse1" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                + Primas
                                            </button>
  
                                        </h5>
                                    </div>
  
                                    <!--tabla dentro del primer item-------------------------------------------->
                                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body text-xs">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>Socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <!-- <th>Estado</th> -->
                                                          <!-- <th>SubConcepto</th> -->  
                                                            <th>Monto bruto pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <!-- <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let prima of Primaconciliacion">
                                                        <td> {{ prima.idAgrupacion        }}  </td>
                                                        <td> {{ prima.companiaPims        }}  </td>
                                                        <td> {{ prima.mesCoberturaPims    }}  </td>
                                                        <td> {{ prima.socioPims           }}  </td>
                                                        <td> {{ prima.polizaPims          }}  </td>
                                                        <td> {{ prima.idPeriodoConcar     }}  </td>
                                                        <!-- <td> {{ prima.idEstadiAgrup       }}  </td> -->
                                                       <!--  <td> {{ prima.subconceptoPims        }}  </td> -->
                                                        <td> {{ prima.brutoPesosPims      | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ prima.netoPesosPims       | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ prima.excetoPesosPims     | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ prima.afectoPesosPims     | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ prima.ivaPesosPims        | number:'1.0-0':'es'}}  </td>
                                                        <!-- <td> {{ prima.brutoUFPims         }}  </td>
                                                        <td> {{ prima.netoUFPims          }}  </td>
                                                        <td> {{ prima.exentoUFOims        }}  </td>
                                                        <td> {{ prima.afectoUFPims        }}  </td>
                                                        <td> {{ prima.ivaUFPims           }}  </td>-->
                                                      </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
  
  
                                <!--fin tabla dentro del primer item--------------->
                                <!--fin del primer item PRIMAS --------------------------->
                                <div *ngIf="Comisionconciliacion.length > 0" class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapse2" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                + Comisiones
                                            </button>
  
                                        </h5>
                                    </div>
  
                                    <!--tabla dentro del segundo item----------------------------------------------------------->
                                    <div id="collapse2" class="collapse show" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body text-xs">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th>id nomina</th>
                                                            <th>compañía</th>
                                                            <th>Mes cobertura</th>
                                                            <th>socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo contable</th>
                                                            <!-- <th>Estado</th> -->
                                                            <th>SubConcepto</th>
                                                            <th>Monto bruto pesos</th>
                                                            <th>Neto pesos</th>
                                                            <th>Exento pesos</th>
                                                            <th>Afecto pesos</th>
                                                            <th>IVA pesos</th>
                                                            <!-- <th>Monto bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let comision of Comisionconciliacion">
                                                        <td> {{ comision.idAgrupacion        }}  </td>
                                                        <td> {{ comision.companiaPims        }}  </td>
                                                        <td> {{ comision.mesCoberturaPims    }}  </td>
                                                        <td> {{ comision.socioPims           }}  </td>
                                                        <td> {{ comision.polizaPims          }}  </td>
                                                        <td> {{ comision.idPeriodoConcar     }}  </td>
                                                        <!-- <td> {{ comision.idEstadiAgrup       }}  </td> -->
                                                        <td> {{ comision.subconceptoPims     }}  </td> 
                                                        <td> {{ comision.brutoPesosPims      | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ comision.netoPesosPims       | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ comision.excetoPesosPims     | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ comision.afectoPesosPims     | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ comision.ivaPesosPims        | number:'1.0-0':'es'}}  </td>
                                                        <!-- <td> {{ comision.brutoUFPims    }}  </td>
                                                        <td> {{ comision.netoUFPims          }}  </td>
                                                        <td> {{ comision.exentoUFOims        }}  </td>
                                                        <td> {{ comision.afectoUFPims        }}  </td>
                                                        <td> {{ comision.ivaUFPims           }}  </td>-->
                                                      </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--fin tabla dentro del segundo item-->
                                <!--fin item dos COMISIONES----------------------->
                                <div *ngIf="Devolucionconciliacion.length > 0" class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapse3" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                + Devoluciones
                                            </button>
  
                                        </h5>
                                    </div>
                                    <div id="collapse3" class="collapse show" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body text-xs">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <!-- <th>Estado</th> -->
                                                           <!--  <th>SubConcepto</th> -->
                                                            <th>Monto Bruto Pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <!-- <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
  
                                                      <tr *ngFor="let devolucion of Devolucionconciliacion">
                                                        <td> {{ devolucion.idAgrupacion        }}  </td>
                                                        <td> {{ devolucion.companiaPims        }}  </td>
                                                        <td> {{ devolucion.mesCoberturaPims    }}  </td>
                                                        <td> {{ devolucion.socioPims           }}  </td>
                                                        <td> {{ devolucion.polizaPims          }}  </td>
                                                        <td> {{ devolucion.idPeriodoConcar     }}  </td>
                                                        <!-- <td> {{ devolucion.idEstadiAgrup       }}  </td> -->
                                                       <!--  <td> {{ devolucion.subconceptoPims        }}  </td> -->
                                                        <td> {{ devolucion.brutoPesosPims      | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ devolucion.netoPesosPims       | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ devolucion.excetoPesosPims     | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ devolucion.afectoPesosPims     | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ devolucion.ivaPesosPims        | number:'1.0-0':'es'}}  </td>
                                                        <!-- <td> {{ devolucion.brutoUFPims         }}  </td>
                                                        <td> {{ devolucion.netoUFPims          }}  </td>
                                                        <td> {{ devolucion.exentoUFOims        }}  </td>
                                                        <td> {{ devolucion.afectoUFPims        }}  </td>
                                                        <td> {{ devolucion.ivaUFPims           }}  </td>-->
                                                      </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--fin de la tabla dentro del tercer item DEVOLUCIONES-->
                                <!--fin del tercer item DEVOLUCIONES-->
  
                                <div *ngIf="Recuperoconciliacion.length > 0" class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapse4" aria-expanded="false"
                                                aria-controls="collapseFour">
                                                + Recupero
                                            </button>
  
                                        </h5>
                                    </div>
  
                                    <!--inicio tabla dentro del cuarto item-->
                                    <div id="collapse4" class="collapse show" aria-labelledby="headingFour"
                                        data-parent="#accordion">
                                        <div class="card-body text-xs">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th>id nomina</th>
                                                            <th>compañía</th>
                                                            <th>Mes cobertura</th>
                                                            <th>socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo contable</th>
                                                            <!-- <th>Estado</th> -->
                                                            <th>SubConcepto</th>
                                                            <th>Monto bruto pesos</th>
                                                            <th>Neto pesos</th>
                                                            <th>Exento pesos</th>
                                                            <th>Afecto pesos</th>
                                                            <th>IVA pesos</th>
                                                            <!-- <th>Monto bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let recupero of Recuperoconciliacion">
                                                        <td> {{ recupero.idAgrupacion        }}  </td>
                                                        <td> {{ recupero.companiaPims        }}  </td>
                                                        <td> {{ recupero.mesCoberturaPims    }}  </td>
                                                        <td> {{ recupero.socioPims           }}  </td>
                                                        <td> {{ recupero.polizaPims          }}  </td>
                                                        <td> {{ recupero.idPeriodoConcar     }}  </td>
                                                        <!-- <td> {{ recupero.idEstadiAgrup       }}  </td> -->
                                                        <td> {{ recupero.subconceptoPims        }}  </td>
                                                        <td> {{ recupero.brutoPesosPims      | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ recupero.netoPesosPims       | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ recupero.excetoPesosPims     | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ recupero.afectoPesosPims     | number:'1.0-0':'es'}}  </td>
                                                        <td> {{ recupero.ivaPesosPims        | number:'1.0-0':'es'}}  </td>
                                                        <!-- <td> {{ recupero.brutoUFPims         }}  </td>
                                                        <td> {{ recupero.netoUFPims          }}  </td>
                                                        <td> {{ recupero.exentoUFOims        }}  </td>
                                                        <td> {{ recupero.afectoUFPims        }}  </td>
                                                        <td> {{ recupero.ivaUFPims           }}  </td>-->
                                                      </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
  
                                <!--fin tabla cuarto item RECUPERO-->
                                <!--fin cuarto item RECUPERO-->
                                <div *ngIf="Gastosconciliacion.length > 0" class="card">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapse5" aria-expanded="false"
                                                aria-controls="collapseFive">
                                                + Gastos
                                            </button>
  
                                        </h5>
                                    </div>
                                    <div id="collapse5" class="collapse show" aria-labelledby="headingFive"
                                        data-parent="#accordion">
                                        <div class="card-body text-xs">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                          <th> subConcepto</th>
                                                          <th> operatoria</th>
                                                          <th> compañia</th>
                                                          <th> socio</th>
                                                          <th> policy</th>
                                                          <th> concepto</th>
                                                          <th> idPrdt</th>
                                                          <th> mesCobertura</th>
                                                          <th> primaAsociada</th>
                                                          <th> montoFinal</th>
                                                          <th> porcentaje</th>
                                                          <th> usuario </th>
                                                          <th> fechaCarga </th>
                                                          <th> cantidadRegistros </th>
                                                          <th> nombreArchivo </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let gasto of Gastosconciliacion">
                                                        <td> <span> {{ gasto.subconcepto   }}</span> </td>
                                                        <td> <span> {{ gasto.operatoria    }}</span> </td>
                                                        <td> <span> {{ gasto.compania      }}</span> </td>
                                                        <td> <span> {{ gasto.socio         }}</span> </td>
                                                        <td> <span> {{ gasto.policy        }}</span> </td>
                                                        <td> <span> {{ gasto.concepto      }}</span> </td>
                                                        <td> <span> {{ gasto.idPrdt        }}</span> </td>
                                                        <td> <span> {{ gasto.mesCobertura  }}</span> </td>
                                                        <td> <span> {{ gasto.primaAsociada | number:'1.0-0':'es'}}</span> </td>
                                                        <td> <span> {{ gasto.montoFinal    | number:'1.0-0':'es'}}</span> </td>
                                                        <td> <span> {{ gasto.porcentaje    }}</span> </td>
                                                        <td> <span> {{ gasto.usuario            }}</span> </td>
                                                        <td> <span> {{ gasto.fechaCargArch         }}</span> </td>
                                                        <td> <span> {{ gasto.cantidadRegistros  }}</span> </td>
                                                        <td> <span> {{ gasto.nombreArchivo      }}</span> </td>
                                                      </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- Main row -->
                </section>
                <!-- /.content -->
  
                <!--fin experimento-->
                <!------------------------------------------------------------------------------------------------------------------------>
  
            </div>
            <!-------------------------------------------------------------------------------------------------------------------------->
            <!-------------------------------------------------------------------------------------------------------------------------->
  
            <!--segunda columna---------------------------------------------------------->
  
            <div class="col-sm-6  h-100 justify-content-center align-items-center">
                <h1 style="margin-left: 30px;">
                    <!--aqui se puede agregar un texto-->
                </h1>
  
                <!-- Main content -->
                <section class="content ">
                    <div class="container-fluid ">
                        <!-- Small boxes (Stat box) -->
                        <div class="row h-100 justify-content-center align-items-center">
  
                            <div id="accordion " style="width: 95%; ">
                                <div *ngIf="Sunsystemconciliacion.length > 0" class="card">
                                    <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapse6" aria-expanded="true"
                                                aria-controls="collapseSix">
                                                +Sunsystem
                                            </button>
  
                                        </h5>
                                    </div>
  
                                    <!--tabla dentro del primer item-------------------------------------------->
                                    <div id="collapse6" class="collapse show" aria-labelledby="headingSix"
                                        data-parent="#accordion">
                                        <div class="card-body text-xs">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Cuenta</th>
                                                            <th>Transacción</th>
                                                            <th>Monto Base</th>
                                                            <th>Descripción</th>
                                                            <th>Número Libro</th>
                                                            <th>Fecha Transacción</th>
                                                            <!-- <th>Código Analítico</th> -->
                                                            <th>Asignado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let sun of Sunsystemconciliacion"> 
                                                        <td>{{ sun.accountCode }}</td>
                                                        <td>{{ sun.transactionReference }}</td>
                                                        <td>{{ sun.baseAmount | number:'1.0-0':'es'}}</td>
                                                        <td>{{ sun.description }}</td>
                                                        <td>{{ sun.journalNumber }}</td>
                                                        <td>{{ sun.transactionDate }}</td>
                                                        <!-- <td>{{ sunsystem.codAnalitico }}</td> -->
                                                        <td>{{ sun.allocationMarker }}</td>
                                                      </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
  
  
                                <!--fin tabla dentro del primer item--------------->
                                <!--fin del primer item --------------------------->
                                <!--inicio segundo item---------------------------->
                                <div *ngIf="Netsuiteconciliacion.length > 0" class="card">
                                    <div class="card-header" id="headingSeven">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapse7" aria-expanded="false"
                                                aria-controls="collapseSeven">
                                                +NetSuite
                                            </button>
  
                                        </h5>
                                    </div>
  
                                    <!--tabla dentro del segundo item----------------------------------------------------------->
                                    <div id="collapse7" class="collapse show" aria-labelledby="headingSeven"
                                        data-parent="#accordion">
                                        <div class="card-body text-xs">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th>Id Netsuite</th>
                                                            <th>Folio</th>
                                                            <th>Razón Social</th>
                                                            <th>Compañía</th>
                                                            <th>Tipo Documento</th>
                                                            <th>Estado Documento</th>
                                                            <th>Monto Bruto</th>
                                                            <th>Neto</th>
                                                            <th>IVA</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let netsuite of Netsuiteconciliacion">
                                                        <td>{{ netsuite.idnetsuite }}</td>
                                                        <td>{{ netsuite.folio }}</td>
                                                        <td>{{ netsuite.razonsocial }}</td>
                                                        <td>{{ netsuite.compania }}</td>
                                                        <td>{{ netsuite.tipodocumento }}</td>
                                                        <td>{{ netsuite.estado }}</td>
                                                        <td>{{ netsuite.bruto | number:'1.0-0':'es'}}</td>
                                                        <td>{{ netsuite.neto | number:'1.0-0':'es'}}</td>
                                                        <td>{{ netsuite.iva | number:'1.0-0':'es'}}</td>
                                                        <td>{{ netsuite.total | number:'1.0-0':'es'}}</td>
                                                      </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--fin tabla dentro del segundo item-->
                                <!--fin item dos ----------------------->
                                <!--inicio item 3----------------------->
                                <!--tabla dentro del tercer item-------------------------------------------->
  
  
                                <!--inicio formulario con selecciones VERDE------------------------------------->
  
                                <!-- Main content -->
                                <!--<section class="content">
                                    <div class="container-fluid">
                                        <div class="row ">
                                            <div class="card" style="width: 100%;">
                                                <div
                                                    class="card-body card3 row h-100 justify-content-center align-items-center">
  
  
  
                                                     <div class="col-md-12 ">
                                                        <div class="table-responsive ">
                                                            <table class="table-bordered table-sm pull-right"
                                                                style="width: 100%;">
                                                              
                                                              <thead>
                                                                <th>Nombre</th>
                                                                <th>Descripcion</th>                                             
                                                              </thead>
                                                              <tbody>
                                                                <tr *ngFor="let val of Validacionesconciliacion">
                                                                  <td> {{ val.nombre         }} </td>
                                                                  <td> {{ val.descripcion    }} </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                        </div>
                                                        <br>
  
  
                                                        <div *ngFor="let item of detallesConciliacion"
                                                         class="col-md-12 row  h-100 justify-content-center align-items-center">
                                                        
                                                            <button class="btn btn-success btn-sm abortbutton " data-dismiss="modal"
                                                                id="abortbutton" type="submit"
                                                                style="width: 40%; margin:2px ;"
                                                                *ngIf="item.Conciliacion.aprobacion !== '0'"
                                                                (click)="accionAprobar(item.Conciliacion.idConciliacion)">
                                                                <b>Aprobar</b>
                                                            </button>
  
                                                            <button class="btn btn-danger btn-sm previewbutton" data-dismiss="modal"
                                                                id="previewbutton" type="submit"
                                                                style="width: 40%;margin:2px ; "
                                                                *ngIf="item.Conciliacion.aprobacion !== '0'"
                                                                (click)="accionRechazar(item.Conciliacion.idConciliacion)">
                                                                <b>Rechazar</b>
                                                            </button>
  
                                                            <button class="btn btn-primary btn-sm abortbutton " data-dismiss="modal"
                                                                id="abortbutton" type="submit"
                                                                style="width: 40%; margin:2px ;"
                                                                *ngIf="item.Conciliacion.aprobacion === '0' && item.Conciliacion.idEstadoConci === '6' "
                                                                (click)="accionReversar(item.Conciliacion.idConciliacion)">
                                                                <b>Reversar </b>
                                                            </button>
                                                            
                                                        </div>
  
                                                        <button class="btn btn-primary" (click)="this.parentFun.emit()">TEST</button>
                                                     
                                                    </div> 
  
                                                    <br>
  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>-->
  
                                <!--fin formulario con selecciones VERDE------------------------------------->
   
                                <!--fin tabla dentro del tercer item--------------->
  
                                <!--fin item 3-->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- Main row -->
                </section>
                <!-- /.content -->
  
                <!--fin experimento-->
                <!------------------------------------------------------------------------------------------------------------------------>
  
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->