<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="margin-left: 20px;"> Conciliación</h1>
            </div>
        </div>
    </div>
</div>


<div class="content-header">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6">
                <h1 style="margin-left: 20px;">
                    <!--aqui se puede agregar un texto-->
                </h1>

                <!--primera columna---------------------------------------------------------->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- Small boxes (Stat box) -->
                        <div class="row h-100 justify-content-center align-items-center">

                            <div id="accordion" style="width: 96%;">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Primas
                                            </button>

                                        </h5>
                                    </div>

                                    <!--tabla dentro del primer item-------------------------------------------->
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>Socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <th>Estado</th>
                                                            <th>Concepto</th>
                                                            <th>Monto Bruto Pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>

                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>

                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--fin tabla dentro del primer item--------------->
                                <!--fin del primer item PRIMAS --------------------------->
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Comisiones
                                            </button>

                                        </h5>
                                    </div>

                                    <!--tabla dentro del segundo item----------------------------------------------------------->
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>Socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <th>Estado</th>
                                                            <th>Concepto</th>
                                                            <th>Monto Bruto Pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--fin tabla dentro del segundo item-->
                                <!--fin item dos COMISIONES----------------------->
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                Devoluciones
                                            </button>
 
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>Socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <th>Estado</th>
                                                            <th>Concepto</th>
                                                            <th>Monto Bruto Pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--fin de la tabla dentro del tercer item DEVOLUCIONES-->
                                <!--fin del tercer item DEVOLUCIONES-->

                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                                Recupero
                                            </button>

                                        </h5>
                                    </div>

                                    <!--inicio tabla dentro del cuarto item-->
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>Socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <th>Estado</th>
                                                            <th>Concepto</th>
                                                            <th>Monto Bruto Pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--fin tabla cuarto item RECUPERO-->
                                <!--fin cuarto item RECUPERO-->
                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseFive" aria-expanded="false"
                                                aria-controls="collapseFive">
                                                Gastos
                                            </button>

                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>Socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <th>Estado</th>
                                                            <th>Concepto</th>
                                                            <th>Monto Bruto Pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- Main row -->
                </section>
                <!-- /.content -->

                <!--fin experimento-->
                <!------------------------------------------------------------------------------------------------------------------------>

            </div>
            <!-------------------------------------------------------------------------------------------------------------------------->
            <!-------------------------------------------------------------------------------------------------------------------------->

            <!--segunda columna---------------------------------------------------------->

            <div class="col-sm-6  h-100 justify-content-center align-items-center">
                <h1 style="margin-left: 30px;">
                    <!--aqui se puede agregar un texto-->
                </h1>

                <!-- Main content -->
                <section class="content ">
                    <div class="container-fluid ">
                        <!-- Small boxes (Stat box) -->
                        <div class="row h-100 justify-content-center align-items-center">

                            <div id="accordion " style="width: 95%; ">
                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseSix" aria-expanded="true"
                                                aria-controls="collapseSix">
                                                +Sunsystem
                                            </button>

                                        </h5>
                                    </div>

                                    <!--tabla dentro del primer item-------------------------------------------->
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>Socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <th>Estado</th>
                                                            <th>Concepto</th>
                                                            <th>Monto Bruto Pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--fin tabla dentro del primer item--------------->
                                <!--fin del primer item --------------------------->
                                <!--inicio segundo item---------------------------->
                                <div class="card">
                                    <div class="card-header" id="headingSeven">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseSeven" aria-expanded="false"
                                                aria-controls="collapseSeven">
                                                +NetSuite
                                            </button>

                                        </h5>
                                    </div>

                                    <!--tabla dentro del segundo item----------------------------------------------------------->
                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table-bordered table-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Id Nomina</th>
                                                            <th>Compañía</th>
                                                            <th>Mes Cobertura</th>
                                                            <th>Socio</th>
                                                            <th>Poliza</th>
                                                            <th>Periodo Contable</th>
                                                            <th>Estado</th>
                                                            <th>Concepto</th>
                                                            <th>Monto Bruto Pesos</th>
                                                            <th>Neto Pesos</th>
                                                            <th>Exento Pesos</th>
                                                            <th>Afecto Pesos</th>
                                                            <th>IVA Pesos</th>
                                                            <th>Monto Bruto UF</th>
                                                            <th>Neto UF</th>
                                                            <th>Excento UF</th>
                                                            <th>Afecto UF</th>
                                                            <th>IVA UF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1,002</td>
                                                            <td>amet</td>
                                                            <td>consectetur</td>
                                                            <td>adipiscing</td>
                                                            <td>elit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                            <td>ipsum</td>
                                                            <td>dolor</td>
                                                            <td>sit</td>
                                                            <td>1,001</td>
                                                            <td>Lorem</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--fin tabla dentro del segundo item-->
                                <!--fin item dos ----------------------->
                                <!--inicio item 3----------------------->
                                <!--tabla dentro del tercer item-------------------------------------------->


                                <!--inicio formulario con selecciones VERDE------------------------------------->

                                <!-- Main content -->
                                <section class="content">
                                    <!-- Default box -->
                                    <div class="container-fluid">
                                        <div class="row ">
                                            <div class="card" style="width: 100%;">
                                                <div
                                                    class="card-body card3 row h-100 justify-content-center align-items-center">



                                                    <div class="col-md-12 ">
                                                        <div class="table-responsive ">
                                                            <table class="table-bordered table-sm pull-right"
                                                                style="width: 100%;">
                                                                <thead>

                                                                <tbody>
                                                                    <tr>
                                                                        <th>Total bruto</th>
                                                                        <th>0,0000</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total bruto</th>
                                                                        <th>0,0000</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total bruto</th>
                                                                        <th>0,0000</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total bruto</th>
                                                                        <th>0,0000</th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <br>


                                                        <div
                                                            class="col-md-12 row  h-100 justify-content-center align-items-center">
                                                            <button class="btn btn-success abortbutton "
                                                                id="abortbutton" type="submit"
                                                                style="width: 40%; margin:2px ;">
                                                                <b>Aprobar</b>
                                                            </button>

                                                            <button class="btn btn-danger previewbutton"
                                                                id="previewbutton" type="submit"
                                                                style="width: 40%;margin:2px ; ">
                                                                <b>Rechazar</b>
                                                            </button>
                                                        </div>

                                                        <div
                                                        class="col-md-12 row  h-100 justify-content-center align-items-center">
                                                        <button class="btn btn-success abortbutton "
                                                            id="abortbutton" type="submit"
                                                            style="width: 40%; margin:2px ;">
                                                            <b>Reversar</b>
                                                        </button>

                                                        <button class="btn btn-danger previewbutton"
                                                            id="previewbutton" type="submit"
                                                            style="width: 40%;margin:2px ; ">
                                                            <b>Rechazar</b>
                                                        </button>
                                                    </div>
                                                        <!-------------------------------------------------------------------------------------------------------------------->

                                                    </div>

                                                    <br>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!--fin formulario con selecciones VERDE------------------------------------->
   
                                <!--fin tabla dentro del tercer item--------------->

                                <!--fin item 3-->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- Main row -->
                </section>
                <!-- /.content -->

                <!--fin experimento-->
                <!------------------------------------------------------------------------------------------------------------------------>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->